[2020-09-30 17:23] #213 closed

[2020-10-01 07:12] borisovano opened #218 "instances are not provisioned (no scale up, no replacing of reclaimed spots)"
Jenkins 2.249.1
Spot fleet: 2.1.3

The issue started with 2 instances that were not scaling up as before.
I've made some changes in 'No Delay Provision Strategy false->true' and 'Min cluster size 2->3'.

At some point during the night the existing 2 spot reclaimed but were not provisioned so we left with 0 nodes.

![image](https://user-images.githubusercontent.com/10387151/94778663-56d6dc00-03ce-1

[2020-10-01 07:26] borisovano commented on #218
My bad. The issue is with AMI `Launching a new EC2 instance. Status Reason: Could not launch Spot Instances. InvalidAMIID.NotFound`

Sorry again, the issue can be closed. Although it would be nice if the error was reflected in Jenkins.

[2020-10-01 07:26] #218 closed

[2020-10-02 17:50] imuqtadir commented on #102
Offline node is removed as idle if it fails to get terminated during doDoDelete()

[2020-10-02 17:50] #102 closed

[2020-10-12 20:07] imuqtadir commented on #212
Resolving this issue as we have not heard back from you. Feel free to re-open if you are still encountering this issue with additional info.

[2020-10-12 20:07] #212 closed

[2020-10-12 20:13] imuqtadir commented on #216
EC2-Fleet plugin sets the target capacity based on the job queue however, the instance is terminated by calling TerminateInstance API by the plugin after verifying that the instance has been idle for more than allowed ```maxIdle``` time and there are no current job being executed by the instance. The plugin does not let the ASG terminate the instance. Let me know if you have any questions

[2020-10-13 11:29] amainwaring commented on #216
Thanks for the response! What I want to do is run a Jenkins job when the instance is terminated. Currently we do this with other ASG instances with a terminating lifecycle hook but that is not working on the ASG I'm using for the EC2-Fleet plugin because the instance is already terminated by the time the lifecycle hook is run.

I think, instead of calling TerminateInstance API, you could just remo

[2020-10-15 18:12] imuqtadir opened #222 "Add Client-side retries for AWS API"
Add Client-side retries for AWS API. This will help in retrying one-off API failures

[2020-10-15 18:12] #222 closed

[2020-10-15 18:13] imuqtadir opened #223 "Don't mask instance termination errors"
Rethrow failed termination exceptions instead of swallowing the exception

[2020-10-15 18:13] #223 closed

[2020-10-15 18:29] imuqtadir commented on #216
@amainwaring Unfortunately, relying on ASG to terminate the instance is not feasible with current implementation. It would not be an easy change to do. If you want we can create an issue for the same to see if we have enough interest to support this in future.

The node is first removed from Jenkins and set to not accept any further jobs and will be removed after small gap (depends on Cloud init i

[2020-10-15 18:38] amainwaring commented on #216
Sorry, it's a Windows worker. During the creation (userdata) I join it to the domain, and when I shutdown the machine I'd like for it to be removed from Active Directory and DNS. With other ASGs we accomplish this with the terminating lifecycle hook that I explained above but in this case doesn't work because the instance is terminated first, outside of the ASG.

[2020-10-19 15:54] #178 closed

[2020-10-30 15:36] webminster opened #226 "First update not done, skip termination"
This with EC2 Fleet Jenkins Plugin 2.2.0, and Jenkins LTS 2.249.2...

This morning I had a builder instance that stayed up overtime.  The following in the logs:

2020-10-30 15:23:25.210+0000 [id=38]    INFO    c.a.j.e.IdleRetentionStrategy#check: Check if node idle i-0fa6611c8e322a10f
2020-10-30 15:23:25.210+0000 [id=38]    INFO    c.a.j.e.IdleRetentionStrategy#isIdleForTooLong: Instance: FleetClo

[2020-11-11 21:41] gaforester commented on #226
I'm having the same issue. It started about 6 days ago. This with EC2 Fleet Jenkins Plugin 2.2.0, and Jenkins LTS 2.249.3.

`Nov 11, 2020 6:55:05 PM INFO com.amazon.jenkins.ec2fleet.IdleRetentionStrategy check
Check if node idle i-0e5178cd85e2dxxx
Nov 11, 2020 6:55:05 PM INFO com.amazon.jenkins.ec2fleet.IdleRetentionStrategy isIdleForTooLong
Instance: JenkinsEc2RegressionFleet i-0e5178cd85e2dxxxx

[2020-11-12 18:34] imuqtadir commented on #226
`First update not done` usually happens when Jenkins plugin is not aware of state of world in AWS. It should ideally be in sync after `Cloud Status Interval` which is configurable as `Cloud Init Interval` within plugin configuration. This occurs when you first setup Jenkins plugin or when you update the plugin settings. Can you verify if you still see this error even after the cloud init seconds i

[2020-11-12 18:52] webminster commented on #226
It's been 13 days, and I no longer have the logs or full context... I had the "Maximum Init Connection Timeout in sec" as 300, and the "Cloud Status Interval in sec" as 10 (there is no "Cloud Init Interval" exactly).  However the messages went on longer than either.  IIRC this only went away when everything was restarted.

[2020-11-12 20:10] imuqtadir commented on #226
Yes, ideally the message should go after `Cloud Status Interval in sec`. I'll try to check for scenarios where this might be an issue however if it occurs again then please let me know the series of steps. In past I have heard this usually happen after updating plugin configuration however I still don't have a way to replicate it.

[2020-11-13 10:05] pauxus opened #227 "Enhancement: Tagging of Fleet in use"
Suggestion: The plugin could tag the spot-fleet cloud in use with a marker tag identifying the jenkins instance (the root url).

This way, the selection dialog could be filtered to only show fleet request that are not in use by different Jenkins instances in the same AWS account (especially test instances).

Also, the dialog should show not only the id of the fleet request but also a given Name ta

[2020-11-13 18:20] pauxus opened #228 "EnhancementHourly Idle time"
Windows and certain Linux AMIS are billed by the hour. So it does not make sense to stop them directly if idle.

Suggestion: allow (as in EC2-Plugin) negative idle Time values which would result in a different strategy.

If idle time is negative, that amount of minutes before the full hour should the idle time check start (until the full running hour).

So if the value is -5, it should start to ch

[2020-11-16 22:10] reb197 commented on #172
Similar problem. I'd like to run certain jobs on the master and other others in the auto scaling group. My Jenkinsfile has:
[code]
(the EC2 Fleet plugin label is `spot-instances`).

If an instance in the Auto Scaling Group is already running, the job builds fine.

If there are no instances currently running in the ASG then builds hang with the message: `Jenkins’ doesn’t have label ‘spot-instances’

[2020-11-18 15:33] gaforester commented on #177
Did anyone ever find a solution for this? I'm having the issue as well. I've downgraded, upgraded, created new fleets, removed plugin and re-installed, deleted clouds and re-created, and restarted Jenkins about 100 times. Still same issues. I still get the `First update not done, skip termination` no matter what I do. Still won't scale down.

[2020-11-18 15:46] gaforester commented on #226
I have cloud status interval set to 10s. I've downgraded, upgraded, created new fleets, removed plugin and re-installed, deleted clouds and re-created, and restarted Jenkins about 100 times. Still same issues. I still get the `First update not done, skip termination` no matter what I do. Still won't scale down. Here's my current config for one of my clouds...
`clouds:
  - eC2Fleet:
      addNodeOn

[2020-11-19 21:32] haugenj commented on #172
I've been unable to reproduce this bug for both spot-fleet and asg cases. I think we simply need more information to be able to figure out what's going wrong, so I'm going to work on adding additional log statements

[2020-11-20 16:48] SrodriguezO commented on #172
We still run into the issue, albeit much less frequently now. Whenever it happens, we see `plannedCapacitySnapshot` on the logs remains stuck at a non-zero value. This makes the plugin think the available capacity (which includes planned capacity) is higher than it should be and prevents launching new nodes unless demand grows beyond the inaccurate perceived capacity.

Restarting Jenkins when it o

[2020-11-25 20:08] pauxus commented on #226
I encountered the same today. Of 4 configured FleetCloud, only one was affected.

Interestingly, when calling `scheduleToTerminate`manually via script console, the first update message does not occur, the instance is terminated, so in that case, stats does is not null.

The only thing that might make sense is that somehow the Fleet Instance is continuosly reloaded somehow (leading to the transient

[2020-11-25 20:42] pauxus commented on #226
After a restart, scale down works again. However, this left 50 Agents running idle for hours...

[2020-11-26 07:17] pauxus commented on #226
same as #177

[2020-11-26 07:18] pauxus commented on #226
@gaforester Just for the record: how big is your Jenkins instance (number of jobs, etc), and what memory settings do you use?

[2020-11-26 11:01] reb197 commented on #172
I switched from using an Auto Scaling Group to a Spot Fleet Request and I've not seen the problem since - been running for about a week now.

[2020-11-27 19:37] qsricardosevero opened #230 "Fleet not scaling up"
Since today Nov 27th my Spot Fleet is not scaling up. I noticed a autoscaling permission error in the logs, but even after granting this permission to the aws user, it's not scaling up. The logs just loops with the following messages:

[code]
Maybe something changed at AWS today that broke the plugin? Anyone else having this issue?

[2020-11-27 19:56] qsricardosevero commented on #230
It seems it was related to the number of jobs I had in the queue. After adding more jobs the fleet scaled up.

[2020-11-27 19:56] #230 closed

[2020-12-05 01:40] #187 closed

[2020-12-05 01:42] ZillaG commented on #187
This may have been the case where AWS was reclaiming the spot instances since either they ran out of these particular instance types I was requesting, and/or someone over-bid my maximum spot price.

[2020-12-07 11:14] wosiu commented on #58
Do you know if the issue still exists? I'm considering using this plugin, but this one would be a strong blocker :(

[2020-12-07 16:22] haugenj commented on #58
👋 @wosiu

Using version 2.2.0 of the plugin I haven't had any problems with this.

I just ran a quick test to verify too - 2 fleets with different labels. Fleet-1 has two instances available, Fleet-2 has 0 instances. I submitted a job with a label matching Fleet-2 and the plugin scaled up Fleet-2 to 1 instance on the next update.

I think this issue is outdated, I'll close it out in a day or two i

[2020-12-07 19:29] haugenj commented on #172
I found a way to reproduce this 🎉

When jobs are submitted and in the queue, we iterate through the available clouds trying to find one that can provision capacity. When we find one, [toAdd is modified](https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/src/main/java/com/amazon/jenkins/ec2fleet/EC2FleetCloud.java#L387) for that fleet to the number of new instances we need, and this becomes

[2020-12-07 19:48] SrodriguezO commented on #172
Nice catch @haugenj! This checks out with the observed behavior of the issue becoming rare when we stopped actively tinkering with the config as much :)

[2020-12-07 21:21] imuqtadir commented on #226
Thank you. This is all useful. If you happen to encounter this bug again, I want to have access to more logs. Specifically around `EC2FleetCloud#info: FleetCloud [ec2-fleet] start`. Also, are you using  `No Delay Provision Strategy` option and is the bug related to enabling it? Meanwhile I'll take a look into this and see if I'm able to reproduce.

[2020-12-09 04:00] mwos-sl opened #231 "Spot node is not created after very long time"
First let me thank you for the plugin :)
The plugin worked twice for me, I mean it created 2 spot instances in ASG, and then scaled down. But then, on the 3rd one:
In the build's console output I get:
[code]
Target number seems to be updated:
![image](https://user-images.githubusercontent.com/55095506/101578561-2c129080-39da-11eb-8778-c5cbe10e08cc.png)
But the agent is not created at all, no matte

[2020-12-09 04:14] mwos-sl commented on #231
My fault, I changed the AMI between the runs which introduced problem with starting an instance. ASG `Activity` tab helped to investigate that.

[2020-12-09 04:14] #231 closed

[2020-12-09 05:56] mwos-sl opened #232 "Introduce `Maximum Total Uses` parameter"
Same way EC2 plugin has. It does not allow to schedule more builds on a given agents if the counter reaches the limit.

[2020-12-09 05:59] mwos-sl opened #233 "Introduce "Minimum number of spare instances""
It is slightly different than "Minimum number of instances". EC2 Plugin has both btw. It ensures there are always `n` available agents, up to "Maximum number of instances". This is to lower time a new build waits to provision a machine.

[2020-12-09 16:28] imuqtadir commented on #233
Thanks for your valuable suggestion. I think this might be useful to customers. We could prioritize it (like any issue) if we have more customers asking for this feature.

[2020-12-09 18:55] #58 closed

[2020-12-11 11:12] mwos-sl opened #234 "Introduce `Maximum Up Time` to not schedule more jobs on an agent"
so that no more jobs are scheduled on a given machine if up time > maximum up time, and terminate machine as soon as it finishes all work.

Unfortunately `maximum instance lifetime` from ASG (https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-max-instance-lifetime.html) is poor, because AFAIU it might kill the build in the middle.

The reasons of this feature are the same as the ones listed

[2020-12-11 11:14] mwos-sl commented on #232
This one: https://github.com/jenkinsci/ec2-fleet-plugin/issues would be even better I would say. Having both would be a dream :)

[2020-12-11 12:01] mwos-sl opened #235 "Configuration as code - export does not work"
When downloading current configuration from jenkins UI via `Download Configuration` button:

![image](https://user-images.githubusercontent.com/55095506/101900816-67ff4e80-3bb0-11eb-90dd-8d3c425339db.png)

I get jenkins.yaml where:
[code]

I've got 2 clouds configured at the moment:
1) Amazon EC2 fleet (with some working ASG assigned)
2) newly created Amazon EC2 fleet label based (not used yet)

H

[2020-12-16 20:31] imuqtadir commented on #226
My assumption after diving deep into code and the info provided is is that for some reason the `CloudNanny` thread which triggers the `update()` every `Cloud Status Interval in sec` is stuck and hence restarting Jenkins would fix this. This thread is responsible for updating the fleet state within Jenkins. It would be helpful if someone could answer these questions:

1.  I understand that this iss

[2020-12-16 21:24] brandon-fryslie commented on #232
We would like to replace the `ec2-plugin` with this plugin, but we rely on the `maxTotalUses` parameter heavily.  We only run 1 build per instance so the environment is 100% consistent between builds.  Without the ability to limit the total number of builds per ec2 instance using this plugin is a non-starter unfortunately.  Just chiming in to say this feature would be very much appreciated!

[2020-12-16 21:36] mwos-sl commented on #232
As above. In our case we rely on this strongly when it comes to machines that are used for benchmarking. So lack of this feature is actually blocker for us too :(
And in all the other places we've got this parameter set to small values too, to ensure machines are rotated to enforce fresh state.
Apart of that there are some compliance use cases, such as _being required to replace instances on a sch

[2020-12-17 06:00] pauxus commented on #226
Not sure right now about 1) and 3), since the error is not occurring right now.

But the cloud nanny was definitely running. We have four different fleets configured (different configurations), and the three other ones got their nanny runs as expected, and since this is a single Timer / thread for all fleets, I don't think this is what's happening.

[2020-12-17 06:03] pauxus commented on #226
As to NoDelayProvisioning: if I remember correctly, this happened with our windows slaves, which are the ones without NoDelayProvisioning, but I am not one hundred percent sure. I will have a look at the logs later.

[2020-12-22 06:43] lkolchin opened #240 "Setting "Minimum Cluster Size" to 0 and "Max Idle Minutes Before Scaledown" to 5 won't bring ASG instances number to 0"
Hello,

I've just set up your very useful plugin but I've noticed that when I set
"Minimum Cluster Size" to 0 and
"Max Idle Minutes Before Scaledown" to 5

After more than 5 minutes of inactivity the autoscaling group won't scale down to 0.

Also, documentation is not very clear on "Maximum Cluster Size" either - When is scaling up/down triggered and by what?

Using the latest plugin ver:
EC2 Flee

[2020-12-22 06:50] lkolchin commented on #177
Using the plugin with ASG and seem to be hitting the same issue:
[code]

Did anyone found a way to resolve it?

[2020-12-22 06:51] lkolchin commented on #240
Oh, I reckon there is an existing issue for this bug:

[code]

[2020-12-22 17:29] #235 closed

[2020-12-22 18:09] haugenj commented on #240
Yep, this looks like a duplicate of #177

Maximum Cluster Size is the max number of instances that can belong to a Jenkins EC2FleetCloud or EC2FleetLabelCloud. It's the same idea as ASG maximum capacity - if you already have `max_number` instances in your cluster, our plugin won't try to provision any more for that Fleet/ASG.

Jenkins runs a thread that checks for pending jobs (I think every 10 se

[2020-12-23 00:49] lkolchin commented on #240
@haugenj
Thanks for clarifying this.
That makes things clearer - that also allowed me to fix the scaling to "0" issue.
Now that I know that the plugin updates DesiredCapacity in ASG, the following config worked fine for me - scaling to 0 instances worked when "Max Idle Minutes Before Scaledown"  timeout met.

ASG config:
[code]

Plugin config:
[code]

[2020-12-24 10:20] kino505 commented on #177
I found that the EC2 Fleet plugin always set special options for ASG: Advanced configurations -> Instance scale-in protection.
I have tried to off this setting but the plugin always turns on again.
The "No Delay Provision Strategy" option does not matter.

[2020-12-28 20:34] Liath commented on #120
Just saw this, sorry about the delay. I no longer use Jenkins so don't have an easy way to reproduce what I was seeing anymore. Thanks for taking a look though!

[2020-12-29 18:06] imuqtadir commented on #177
@kino505 This is expected behavior of the plugin. Without scale-in protection, ASG could randomly terminate EC2 instances. We need to enable this so that the plugin could decide which ones to terminate.

[2020-12-29 18:10] imuqtadir commented on #177
@lkolchin It would be helpful if you could answer these questions:

1. I understand that this issue revolves around instances not being terminated. However, this thread is also responsible for provisioning. Are you able to provision/scale up more instances when you encounter this issue?
2. Do you see `start` within your logs? This should show up every Cloud Status Interval in sec. This value is se

[2020-12-29 20:17] imuqtadir commented on #47
I think this should be resolved with some of our latest changes like being able to terminate EC2 instances from Jenkins dashboard directly. Please let us know if you still experience this issue and if there is anything left here which could be further improved.

[2020-12-29 20:17] #47 closed

[2020-12-30 01:25] lkolchin commented on #177
@imuqtadir

I reckon the problem is really a lack of comprehensive documentation.
Now that @haugenj clarified this for me at https://github.com/jenkinsci/ec2-fleet-plugin/issues/240

I know now that the plugin updates DesiredCapacity in ASG, the following config worked fine for me - scaling to 0 instances worked when "Max Idle Minutes Before Scaledown" timeout met.

ASG config:
[code]
Plugin confi

[2020-12-30 01:26] #240 closed

[2020-12-30 19:33] imuqtadir commented on #177
@lkolchin Good to hear it is resolved. I agree we can add more documentation around the plugin settings. Feel free to create an issue around it.

[2021-01-01 00:11] lloydchang commented on #177
Hi, @terma and @imuqtadir,

Summary:
• Issue recurs: scale in of EC2 Spot Fleet Request scale in pauses after a threshold
• Scale in pausing threshold is same number of Jenkins jobs that I had started a build
• ec2-fleet-plugin scale out dynamically by setting target capacity at the number of Jenkins job that I had started
• ec2-fleet-plugin doesn't scale in dynamically by setting target capacity

[2021-01-04 20:11] imuqtadir commented on #232
I'll look into this and give you an update this week.

[2021-01-05 21:26] haugenj commented on #184
In the effort of tidying up, I'm going to close this issue since it's gone stale. Feel free to reopen if the problem shows up again

[2021-01-05 21:26] #184 closed

[2021-01-05 22:25] #172 closed

[2021-01-06 15:55] imuqtadir commented on #177
I'm able to replicate this bug. It has nothing to do with the configuration however it occurs when you change existing settings of the plugin (eg. numOfExecutors). I'm working on a fix for this now.

[2021-01-06 15:58] imuqtadir commented on #226
I was able to replicate this bug. 🎉

I'm working for a fix on this now.

[2021-01-06 17:25] imuqtadir commented on #232
I was testing my changes and came across this scenario. Assume a fleet of size: 1 instance and total builds for that instances are exhausted (maximum total uses) however the user has set minimum capacity of cluster as 1. What should be expected behavior here?

[2021-01-06 18:20] imuqtadir opened #243 "Terminated instance gets re-added as jenkins node"
Sometimes we terminate the instances successfully however we immediately call DescribeInstances which does NOT reflect recently terminated instance. Due to this delay, we go ahead and re-add the instance as jenkins node.

[2021-01-07 16:36] #243 closed

[2021-01-07 23:12] imuqtadir opened #245 "Get accurate count of instance before scheduling instances for termination"
Get accurate count of instance before scheduling instances for termination. Some scenarios where this is needed:

1. Fleet takes a while to reflect the accurate count which can cause us to go below min threshold
2. Failed termination - Fleet may have target of 0 however there may be instances strangling around (due to termination policy) which would never get deleted. Although, we would add them a

[2021-01-08 17:43] #245 closed

[2021-01-08 19:08] imuqtadir commented on #177
I'll cut a release next week once I get approval on my PR.

[2021-01-08 19:08] imuqtadir commented on #226
I'll cut a release next week once I get approval on my PR.

[2021-01-10 05:58] lloydchang commented on #226
Thank you @imuqtadir

[2021-01-10 05:58] lloydchang commented on #177
Thank you @imuqtadir

[2021-01-11 01:34] lloydchang commented on #177
@imuqtadir Thank you for upcoming cutting a release with a bug fix.

Would you know if the Jenkins version would make any difference at all when you reproduced the bug?

Coincidentally, for what it's worth, I recently upgraded...
from EC2 Fleet plugin 2.2.0, Jenkins 2.222.3 (2020-04-24)
to EC2 Fleet plugin 2.2.0, Jenkins 2.263.1 (2020-12-03)
and I noticed the bug's frequency decreased.

With that

[2021-01-11 15:54] #177 closed

[2021-01-11 15:54] #226 closed

[2021-01-13 18:24] gaforester opened #248 "Spot fleet nodes suspended instead of terminating"
I recently had an issue with my spot fleets not scaling down. Now that I've updated to the newest release, I no longer get the "First update not done, skip termination" message in the logs. I do see the message when it's trying to terminate...
`Jan 13, 2021 6:16:08 PM INFO com.amazon.jenkins.ec2fleet.IdleRetentionStrategy check
Check if node idle i-09f3ba5110db8c416
Jan 13, 2021 6:16:08 PM INFO co

[2021-01-13 23:26] haugenj commented on #248
Do you have any steps we could use to reproduce this?

Do any instances ever terminate? Or does every instance that should be terminated go into a suspended state?

Can you look in your logs for the next "start" that comes after the "Attempting to terminate instance..." part and provide me with the information there? Specifically I'm interested in whether the target capacity is being updated corre

[2021-01-14 14:21] gaforester commented on #248
I don't really have good steps to reproduce it. A couple of months ago our fleets just stopped scaling down. So, I've been manually scaling them down basically every day. The issue was documented in #226. @imuqtadir pushed a fix last week for the issue. I can report that at least something has changed. My config is still the same (https://github.com/jenkinsci/ec2-fleet-plugin/issues/226#issuecomme

[2021-01-14 18:32] haugenj commented on #248
I don't see anything in the logs that stands out to me. I'm looping in @imuqtadir to get another set of eyes.

Are you using Spot Fleet or ASG? One idea if you're using Spot Fleet is that your termination policy is set to "stop" instead of "terminate."

[2021-01-14 18:46] imuqtadir commented on #248
Did you try restarting Jenkins and see if this continues? Correct me if I'm wrong - you have two EC2FleetCloud added and each comprise of a separate EC2Fleet. Although, the second cloud (Regression Fleet) has a max of 1 instance, you are also noticing that `excessWorkload 101`. I'm assuming that the excessWorkload reflects the first cloud however is showing up under the second Cloud.

[2021-01-14 19:39] imuqtadir commented on #248
I tried replicating similar setup and things work fine for me. I would advice restarting Jenkins once. Also, let me know what settings you change after the restart by clicking 'Save'/'Apply'. The bug most likely would have something to do with changing existing config values as I see that you did change few things from the logs.

[2021-01-14 20:36] imuqtadir commented on #232
I have put out PR for it. I'll cut a release once I get approval and merge the code.

[2021-01-15 15:47] #232 closed

[2021-01-15 16:00] imuqtadir commented on #122
Is the issue still happening in the latest release?

[2021-01-17 04:06] lloydchang opened #252 "Build Executors won't start nor connect at all, and the "Test Connection" button stopped working, when AWS Credentials is "- none -" to use the EC2 instance role."
Hi, @imuqtadir and @haugenj,

This is observed in version 2.3.0 of ec2-fleet-plugin — I believe the issue was first introduced in version 2.2.1 of the plugin.

**Build Executors won't start nor connect at all, and the "Test Connection" button stopped working, when AWS Credentials is "- none -" to use the EC2 instance role.**

"Test Connection" button says, "Select AWS Credentials to check permissi

[2021-01-19 20:38] imuqtadir commented on #252
Thanks @lloydchang for bringing this to our notice. I have put out PR for reverting this and will follow-up with a release after I get approval.

[2021-01-19 20:53] #252 closed

[2021-01-19 20:56] imuqtadir commented on #122
Closing the issue due to staleness. Please create a new one if this continues to happen in latest releases.

[2021-01-19 20:56] #122 closed

[2021-01-20 22:44] jsnod opened #254 "Unable to set label on node"
Since upgrading from v2.2.2 to v2.3.1 Jenkins Server is unable to use executors. The instances spin up just fine in AWS, but Jenkins fails with the following:

[code]

I've had to downgrade to v2.2.2 in order to get any useful executor agents.

[2021-01-21 15:23] gaforester commented on #248
I've restarted Jenkins multiple times. I deleted the plugin and re-installed it last night. With only one cloud. Same issue. I'm at a loss for what's going on. I'll try more settings changes to see if I can figure out a pattern of how to reproduce.

[2021-01-21 22:51] haugenj commented on #254
Thanks for the logs they were very helpful!

This is caused by the new instance variable we introduced, `maxTotalUses`, not getting initialized. It's only initialized in the constructor of EC2FleetCloud, which is only called when the plugin config is changed.

You should be able to use version 2.3.1 if you want that feature right now - after updating go to the configuration page and press save. Th

[2021-01-22 02:11] gaforester commented on #248
I still don't have an answer, but I finally have a workaround. I played around with some Groovy scripts and figure out that the suspended nodes have a value for isAcceptingTasks = false. So I created a Jenkins job that runs a Groovy system script every 15 minutes that cleans up the "suspended" nodes.

`import jenkins.model.Jenkins
println "Cleaning up suspended spot fleet nodes..."
Jenkins.instanc

[2021-01-22 16:35] #254 closed

[2021-01-22 16:35] haugenj commented on #254
Released in 2.3.2

[2021-02-01 13:38] amainwaring opened #257 "Jobs stalling indefinitely on a node started by the plugin"
Hello!

Our issue sounds very similar [to this one](https://github.com/jenkinsci/ec2-fleet-plugin/issues/212). From time to time a new worker will spawn but all of the jobs get stuck in the `Checkout SCM` phase. Both pipeline and freestyle jobs seem to be affected. I can select the node and run scripts via the Script Console but any job that starts on the worker gets hung up. If i terminate an exi

[2021-02-01 17:51] Shasthri opened #258 "Issue with number of API requests"
We have been observing lot of errors related to number of API calls that's being made to AWS.

[code]

We managed to increase the parameter "Cloud Status Interval in sec" from default value of 10 sec to 40-45 sec. But this is not helping much.
Questions --

1. How many API calls is made by this plugin by default ?
2. What should be the optimum value for parameter - "Cloud Status Interval in sec" ?

[2021-02-05 21:02] jillmon commented on #257
Hello,
We have triaged your ticket according to our team's guidelines. We should have some time to investigate next week. Thank you for your patience.

[2021-02-05 21:02] jillmon commented on #258
Hello,
We have triaged your ticket according to our team's guidelines. We should have some time to investigate next week. Thank you for your patience.

[2021-02-09 15:57] alexandrud opened #259 "IRSA Support"
**Is your feature request related to a problem? Please describe.**
When running jenkins in kubernetes it doesn't assume an IRSA role. Details about IRSA here: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

The web identity token and the env variables are present and readable by the user running jenkins.

Looking in cloudtrail I see the calls are made by the I

[2021-02-09 21:29] haugenj commented on #258
👋  @Shasthri

1. Once the plugin is running it should only make one Describe Instances request per fleet per update cycle. More API requests can be made if there's action to take with specific instances (connect, terminate, tag), but that doesn't happen as frequently and shouldn't affect the throttle rate of Describe Instances
2. I don't have any data to support a single optimal value for this fie

[2021-02-09 23:01] haugenj commented on #257
Hi @amainwaring

It sounds like new nodes are being provisioned and the Jenkins agents are started, so I'm not sure this problem is caused by our plugin, especially since you say the jobs are getting stuck on the flyweight executors.

Is there anything that stands out to you in the node logs? Any difference in the node logs when they are first started by the plugin versus when you restart them man

[2021-02-10 12:54] amainwaring commented on #257
Thanks for getting back to me! There's nothing that stands out in the node log, or in the userdata output to me; no errors and output is the same as other nodes. I'm not so sure it's necessarily the plugin either but we've only started experiencing this issue since switching the workers to the fleet plugin. If I reboot the node then I can relaunch it and jobs will continue as per normal, so it see

[2021-02-10 17:48] haugenj commented on #259
Based on that thread we might be able to solve this simply by upgrading the aws-java-sdk version to 1.11.717 or higher, @alexandrud would you be able to test that theory? If not I'll try to pick this up sometime next week

[2021-02-19 16:17] alexandrud commented on #259
@haugenj If you point me in the right direction I can try to help. How can I test with a higher sdk version? I'm not a developer so my java knowledge is close to none.

[2021-02-22 17:59] haugenj commented on #259
You can adjust the dependency versions in the POM.xml file in our plugin, but after that I'm not sure how deploying a development plugin-version to Jenkins on k8s works. Right now when I test changes it's all done locally

[2021-03-02 19:18] haugenj commented on #258
Closing this for staleness, feel free to reopen if you have more questions

[2021-03-02 19:18] #258 closed

[2021-03-03 12:33] curlytopps opened #260 "EC2 Fleet won't scale up in No Delay Provision Strategy"
Our EC2 fleet is configured in Jenkins with no delay provision strategy so that it will spin up new nodes as the queue grows.
![JenkinsCloudConfig](https://user-images.githubusercontent.com/67361199/109804675-79ab3c00-7c5d-11eb-91b5-814f35540ae6.PNG)

However, the build queue is 7 in this case, and the node

![BuildQueue](https://user-images.githubusercontent.com/67361199/109803862-8a0ee700-7c5c-1

[2021-03-03 12:50] andreroggeri opened #261 "Autoscaling not working for the same label"
## Issue Details

**Describe the bug**
The fleet is not scaling when more jobs arrive for the label `android`. The fleet agent has two labels: `android` and `appium`.
(For `appium` label it scales immediately after the job stays on the queue)

Looking that the logs, its seems that the demand count is wrong (negative demand) and the machine count seems weird too (Logs shows that we have 4 computers

[2021-03-03 15:24] haugenj commented on #260
:wave: @curlytopps

The `currentDemand` is 0 because it's calculated as the difference between `availableCapacity` and the job queue size. In this case, `availableCapacity` is 7 because `plannedCapacitySnapshot` is 7, meaning Jenkins has requested that 7 new executors come online. It still takes a bit of time for the EC2 instances to spin up and for the Jenkins agent to get initialized at that poi

[2021-03-03 16:34] haugenj commented on #261
:wave: @andreroggeri

The plugin isn't scaling because `plannedCapacitySnapshot` is positive, so instances were already _supposed_ to be requested. We've had problems with this before though, such as in #172

a couple questions:
- Have you seen this happen frequently? The most common scenario we saw this before was when changes to the plugin were made while there were pending jobs in the queue
- I

[2021-03-03 17:12] curlytopps commented on #260
So the setup is that each node in the fleet can only have one executor. If Jenkins has requested that 7 new executors come online, and Slave2_EC2_BuildServer contributes only 1 executor, then Jenkins should have sent modify request of 5 (max) to the Spot request resource? When I submitted the issue, the Spot Fleet resource in AWS has not received a modify request, the target and desired capacity w

[2021-03-03 18:17] andreroggeri commented on #261
Hi ! Thanks for the quick feedback.

Yes, its been like this for a while but its possible that I changed the plugin during fleet updates

I just restarted our server and it seems to be scaling correctly.

I'm particularly interested in what the first NoDelayProvisionStrategy apply log is for the android label, and whether you ever see this line "scaling timeout reached, removing node from Jenkins'

[2021-03-03 21:10] haugenj commented on #260
Hmm if the limit is 5 but `plannedCapacitySnapshot` is 7 then I would guess the state of the plugin and Jenkins got messed up somehow. The only way we were able to reproduce errors like this before is when the plugin configuration was saved while there were pending jobs in the queue. If you changed any of the plugin settings somewhat recently that could be the cause, otherwise I'm not so sure.

Wh

[2021-03-04 01:43] curlytopps commented on #260
2.3.2

[2021-03-12 12:02] akshayubale1 opened #262 "nodes are getting disconnected after some time"
Firstly i used 100% spot instances in my Auto scaling group with price capped at on-demand price but still the nodes were getting disconnected then i changed to 100% on-demand instances but still the nodes were getting disconnected

Please help struggling from 1 week

Below is the stack strace

16:23:48 INFO: Detected dialect: W3C
16:23:48 FATAL: command execution failed
16:23:48 java.io.EOFExcept

[2021-03-12 15:19] haugenj commented on #262
👋 @akshayubale1, The job stack trace you gave doesn't really give me anything to go off of so could you give me some more information:
- When did this start occurring?
- What version of Jenkins and the plugin are you using?
- Can you verify the instances are still in the autoscaling group after this error shows up and that they're not being scaled down for some external reason? You can check the a

[2021-03-12 15:52] akshayubale1 commented on #262
Answers to your questions

1)i have newly installed this plugin
2)Jenkins ver - 2.176.3  and EC2 Fleet Jenkins Plugin version - 2.3.2
3)After the nodes are disconnected the job gets failed  and in the activity log of autoscaling group the instance will be terminated stating reason as because of changing  the desired capacity(as normal they are getting scaled down)
4)the above one is the log for jo

[2021-03-12 16:12] haugenj commented on #248
@invinciblycool There's not a better solution yet since we still aren't sure what the root cause is. Could you provide your logs for this? It might help us figure out what's going on

[2021-03-12 16:35] haugenj commented on #262
Scale in protection is necessary for the plugin to work, because the plugin controls terminating instances based on how long the nodes have been in a idle state. When you disable scale in protection you allow the ASG to terminate the instances, which means it can interrupt jobs

[2021-03-12 16:36] SrodriguezO commented on #172
We are still occasionally running into this bug. We are using version `2.3.2` of the plugin. The logs show `plannedCapacitySnapshot` stuck above 0 despite no new nodes coming in.

We did make some edits to our fleet configs recently which might have affected this, but it's hard to say for sure. We'll restart Jenkins this weekend and report back if it happens again with hopefully a bit more info.

[2021-03-12 17:20] haugenj commented on #172
👍  Sounds good. If you've got the logs on hand still send them my way and perhaps I'll be able to figure out some case where we don't properly cover the config changes still, or perhaps there's another cause of this bug that we just don't know about

[2021-03-12 17:27] SrodriguezO commented on #172
It seems the only logs for the `NoDelayProvisionStrategy` logger are of this nature:
[code]

Are there other logs that would be useful for troubleshooting this?

[2021-03-12 17:35] haugenj commented on #172
Yeah I'm curious about the logs coming before this that could point us to what created this state. The more you can provide the better, and if you want you can send them directly to me via email haugenj@amazon.com

[2021-03-12 17:45] haugenj commented on #260
@curlytopps have you noticed this bug occur after leaving the plugin configuration alone for a while? Or does it tend to appear soon after you make modifications to the plugin?

[2021-03-12 17:47] haugenj commented on #261
@andreroggeri any luck with this?

[2021-03-12 18:55] andreroggeri commented on #261
Actually the scaling is working correctly ever since the reboot.

For now I'll close this issue, and if this behavior happens again I'll reopen and attach logs.

Anyway, thanks for the help !

[2021-03-12 18:55] #261 closed

[2021-03-13 08:15] curlytopps commented on #260
I had not made any changes to the plugin 48 hours before the issue occurred.  I am also the only admin who has perms to the Configure Clouds page.

[2021-03-15 07:56] akshayubale1 commented on #262
Thank you so much now i am not facing any issues

[2021-03-15 07:56] #262 closed

[2021-03-16 04:27] SrodriguezO commented on #172
Hmm by the time we notice the issue, the `NoDelayProvisionStrategy` log will have occurred hundreds of times :/ so we can't effectively pinpoint when it first started. I'll try to track config changes going forward so if it happens again we can search around the time of recent config changes to see if anything stands out.

[2021-03-16 06:31] invinciblycool commented on #248
@haugenj Can you tell me where to look for the logs?
Should I send you the logs in from the slave or the master. Also what could be a possible path to look at?
Also, FYI I'm using ASG for my setup.

[2021-03-17 16:25] haugenj commented on #248
It's the master logs that I'm mostly interested in, but if you look at the slave logs and see something interesting you can send those as well.

To get the logs saved to disk you'll need to install the Support Core plugin. Not sure what differences you might have in your setup so I'd reference the official page: https://www.jenkins.io/doc/book/system-administration/viewing-logs/

For me, I install

[2021-03-17 18:32] haugenj commented on #257
@amainwaring have you had any luck with this?

[2021-03-17 18:39] amainwaring commented on #257
Unfortunately not, some nodes still occasionally hang like this when they are created and I've been unable to figure out why. I'm working on getting Jenkins updated but because of different dependencies it's going to take a while.

[2021-03-17 21:45] sukanyasuresh opened #263 "Scale out is not reaching above 50 when the max capacity is 650 and the required no of slaves is 63"
## Issue Details

I am using the ec2-fleet-plugin to try and run my build on spot instances.
The job run tests in parallel on 65 nodes. These nodes are the ones that are being launched using the plugin.
The problem is that, the scale out never goes up above 50 even when the max capacity provided is 650.
The number of executors are 1 and the maximum usage of is 1.
In asg, the min and desired count

[2021-03-18 05:04] invinciblycool commented on #248
The logs on a suspended slave, just had the information about the last task it was running(nothing helpful).
And nothing helpful in the master logs as well :/
Below is my configuration for the plugin, if that helps.

![image](https://user-images.githubusercontent.com/24691797/111575807-2d233d00-87d5-11eb-902d-95a556f955ad.png)
![image](https://user-images.githubusercontent.com/24691797/111575825-3

[2021-03-18 05:07] invinciblycool commented on #248
Also, there's one interesting finding I would like to share here, the slaves only suspend after running the exact number specified in the "Maximum Total Uses" option(which in my case is 10).
So after running 10 jobs instead of terminating, the slaves switch to the `Suspended` state.

[2021-03-18 14:52] haugenj commented on #248
Nice, I'll take a look and see if I can find anything strange about the max total uses

[2021-03-18 15:29] imuqtadir commented on #248
@invinciblycool Does terminating those nodes would make you go below your `Minimum Cluster Size`?

[2021-03-18 15:31] invinciblycool commented on #248
Yes @imuqtadir

[2021-03-18 15:43] imuqtadir commented on #248
This is expected behavior. We don't want to go below user-specified configuration of `Minimum Cluster Size` at any moment. We could have terminated the instance to go below the `Minimum Cluster Size` but there is no guarantee we will get back the instance again. If you think we should change this behavior, feel free to open new issue/PR for the feature request.

Alternatively, as a workaround you

[2021-03-18 16:11] haugenj commented on #263
You're probably limited by the service quota: https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html

[2021-03-18 16:19] invinciblycool commented on #248
@imuqtadir Yeah, that's what I was doing until now.
Makes complete sense, as soon as I set my Minimum Cluster Size to a lower value, the nodes are terminated which should be the ideal scenario.
Thanks a ton for the help @imuqtadir and @haugenj

[2021-03-18 16:22] haugenj commented on #263
Is there any information available in CloudTrail around the time of the scaling request?

[2021-03-18 17:21] sukanyasuresh commented on #263
@haugenj
Thanks for the response.
How is the desired amount of instances calculated when its specified as 0?

[2021-03-18 17:25] sukanyasuresh commented on #263
I am able to launch more than 50 instances when i specify the desired/minimum no of instances.

[2021-03-18 17:32] sukanyasuresh commented on #263
I dont have cloud trail logs set up but I have attached the activity log.

`
Cancelled | Could not scale to desired capacity because all remaining instances are protected from scale-in. | At 2021-03-17T21:39:22Z a user request update of AutoScalingGroup constraints to min: 0, max: 650, desired: 35 changing the desired capacity from 50 to 35. At 2021-03-17T21:39:27Z a user request update of AutoSca

[2021-03-18 17:55] haugenj commented on #263
Demand is calculated by `queue size - available capacity` ([example](https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/src/main/java/com/amazon/jenkins/ec2fleet/NoDelayProvisionStrategy.java#L41)). In the default Jenkins scaling strategy it increases target capacity in multiple requests to try and avoid overscaling. In our NoDelayProvisioningStrategy we update the target capacity to the de

[2021-03-18 18:22] sukanyasuresh commented on #263
@haugenj Yeah i have attached it here:
[log-events-viewer-result.csv.zip](https://github.com/jenkinsci/ec2-fleet-plugin/files/6166437/log-events-viewer-result.csv.zip)

[2021-03-18 18:52] haugenj commented on #263
I was able to get above 50 in my test.

Looking at your logs I can't find anything that stands out to me. When not using the NoDelayProvisioningStrategy it's up to Jenkins (not our plugin) to determine when to call provision. If you can find the Jenkins logs for that we can take a peek, but it might be easier to use the NoDelayProvisioningStrategy and grab the logs from that.

Just to confirm, you

[2021-03-18 18:55] sukanyasuresh commented on #263
Okay, let me get that for you.

It's just one jenkins job where the number of nodes to run a stage in parallel is 63.

[2021-03-18 19:21] sukanyasuresh commented on #263
[log-events-viewer-result (1).csv.zip](https://github.com/jenkinsci/ec2-fleet-plugin/files/6166703/log-events-viewer-result.1.csv.zip)

[2021-03-18 19:45] sukanyasuresh commented on #263
@haugenj
Update:
I tried running 2 builds for this job and the scaling goes upto 110 now.

[2021-03-30 14:30] marksumm commented on #248
From time to time, I'm seeing the same thing with Minimum Cluster Size set to 0 and Maximum Total Uses set to -1 (since our configuration predates the addition of that option).  All of the worker nodes go into the suspended state and that causes a pile up of jobs waiting for executors.  The message "Attempting to terminate instance: xxxxxxxx" is logged even for affected instances.

[2021-03-30 15:34] imuqtadir commented on #248
@marksumm What version of plugin are you using? Can you try to restart the plugin and see if it fixes the issue?

[2021-03-30 16:06] marksumm commented on #248
The plugin version is 2.3.2.  Does "restart the plugin" mean disable and re-enable?  I can try it if it happens again, but I already terminated the affected EC2 instances.  This "fixes" the issue without needing to restart anything.

[2021-03-31 11:22] marksumm commented on #248
I did some log analysis:  First, I looked in CloudTrail to find the ID of an instance I'd manually terminated.  Then, I looked in the Jenkins server log to see what the EC2 fleet plugin had to say about it...

It seems to me that the termination of affected EC2 instances never succeeds, and that it is retried indefinitely.  I see many messages of the form "Attempting to terminate instance: xxxxxxx

[2021-03-31 14:58] haugenj commented on #248
@marksumm it'd be best to restart all of Jenkins and not just the plugin if possible. Sometimes there's data within Jenkins that doesn't get reset properly just by disabling the plugin.

The logs are a bit misleading. Our plugin runs on a loop based on the Cloud Status Interval setting, and this loop does the actual work of updating the fleet (API calls). Jenkins can also call our plugin outside o

[2021-04-15 16:33] mfa-inverso commented on #120
For me this does also not work. Perhaps it's a problem with pipeline jobs.
Build 10 has parameters:
![image](https://user-images.githubusercontent.com/62642310/114905011-c36c7200-9e18-11eb-884c-b5eeeda972ec.png)
Build 11 is the resceduled build after I terminated the instance and it has no parameters:
![image](https://user-images.githubusercontent.com/62642310/114905069-d4b57e80-9e18-11eb-96af-cc0

[2021-04-19 12:51] prakashemeascm commented on #260
Hi Team,

We are also facing the same exact issue (EC2 Fleet wnot scale up in "No Delay Provision Strategy" option is enabled) and we have installed the ec2-fleet-plugin:2.0.2 version.

Once Instance is having 4 executors if the instance is fully occupied even though when the job are in queue the instance are not getting provision.

It was working fine, but since last week we are facing issue.

We

[2021-04-19 12:52] prakashemeascm opened #264 "EC2 Fleet Plugin : 2.0.2 - scale up is not working in No Delay Provision Strategy"
Hi Team,

We are also facing the same exact issue (EC2 Fleet wnot scale up in "No Delay Provision Strategy" option is enabled) and we have installed the ec2-fleet-plugin:2.0.2 version.

Once Instance is having 4 executors if the instance is fully occupied even though when the job are in queue the instance are not getting provision.

It was working fine, but since last week we are facing issue.

We

[2021-04-26 09:06] mfa-inverso opened #265 "Parameters of resubmitted builds are missing"
## Issue Details

**Describe the bug**
Sometimes our fleet instances are terminated and the resubmitted builds fail because the parameters are missing. I created a very simple pipeline job to reproduce it. The parameters have no default values.
Build 10 has parameters:
![image](https://user-images.githubusercontent.com/62642310/114905011-c36c7200-9e18-11eb-884c-b5eeeda972ec.png)
Build 11 is the re

[2021-05-07 12:23] zdtsw opened #266 "Add support to allow different user to start jenkins service"
Hi,

From WMI Windows Agents Plugin, it has the feature to allow user set to a different user than LocalSystem to start Jenkins service.
(https://issues.jenkins.io/browse/JENKINS-3958)
This seems is missed in ec2-fleet-plugin

Add same support in ec2-fleet-plugin to allow user specify a different user for "Run Service as"

Thanks!

[2021-05-18 15:11] haugenj commented on #264
Hi @prakashemeascm

Version 2.0.2 is quite old, and doesn't contain several updates we made to try and address scaling problems. Could you update to a later version and let me know if you still see this problem?

[2021-05-19 11:29] alex-driveu opened #268 "Target capacity decrease when job is canceled or timed out"
Hi,

If after starting a job that requires a fleet, the job is canceled or aborted due to a timeout before an instance was allocated, the target capacity isn't reduced. This results in the instance being allocated and removed only after it's idle timeout, or in the case of an issue in the allocation process - the target capacity wont decrease.

My specific use case is :
I have a job that can run o

[2021-05-19 14:45] agaudreault-jive opened #269 "Suspended nodes are stuck and never terminated after startup"
## Issue Details

**Describe the bug**
Whenever Jenkins is started, there is a possibility that existing nodes of the spot fleet request does not connect properly and show up as suspended forever in Jenkins. Furthermore, they are never terminated because of a possible deadlock.

The node is actually online, but is not accepting task. I am not sure why, but it could be cause by the following code i

[2021-05-25 11:57] zipkid commented on #265
We are looking into using this plugin.
This bug is a show-stopper.
Is there any development ongoing on this plugin to fix this bug?

[2021-05-27 16:23] vecchp commented on #248
I'm also running against this and it appears to continue to occur after restarting Jenkins and full machine restarts.

I am running a normal fleet cloud with an ASG.

[2021-05-27 17:52] #263 closed

[2021-05-27 17:54] haugenj commented on #264
Closing this since version 2.0.2 is quite old and there's a similar issue #260 that deals with the current version

[2021-05-27 17:54] #264 closed

[2021-06-02 03:39] allenbenz commented on #265
It appears the executor.getCurrentExecutable() result for pipeline builds is of type `org.jenkinsci.plugins.workflow.support.steps.ExecutorStepExecution.PlaceholderTask.PlaceholderExecutable` and that doesn't implement Actionable.

I'm not really sure what would be the right way to get Actions out of it.

I did find a way that I think is too brittle.
For a fork of ec2-plugin in the EC2FleetAutoRes

[2021-06-10 17:13] peanderson2016 commented on #152
I am struggling to get this to actually update the "live" plugin settings.
I can run the script and the fleet settings in `/configure` get updated but not the `EC2 Fleet Status` or the actual ASG in AWS.

Any thoughts?

[2021-06-10 18:15] peanderson2016 commented on #152
Seems like adding in the following kicks things into gear:
[code]

[2021-06-10 20:51] haugenj commented on #265
@allenbenz thanks for finding this, I've been playing around with it a bit and condensed it down to this:
[code]

This seems to work fine in my simple tests, but I'm curious what makes you think your solution is too brittle. IMO it's at least a step in the right direction and I say we move forward with it

[2021-06-11 06:59] zdtsw commented on #152
gist from fedevegili is (most likely) based on 1.16.2 release, need to revisit it if you are using 2.3.2 @peanderson2016

[2021-06-11 07:34] zdtsw commented on #152
as for the real "kick in" I think only happens when any new jobs matching the labels to the fleet, that will make the real changes for number of EC2.
like:  Jenkins new job => plugin reads config => send by cloudformation => update ASG/spot desire => updates EC2

[2021-06-13 00:55] allenbenz commented on #265
I think getLastBuild can return the wrong build if there are multiple in progress builds.

My concern about brittleness is me being conservative about a stack I'm unfamiliar with and being uncomfortable with runForDisplay().getNumber()

This concern should be taken very lightly as I don't know how stable those interfaces are.

[2021-06-15 00:09] allenbenz commented on #228
AWS recently introduced per second billing for Windows Server and SQL Server instances.

https://aws.amazon.com/about-aws/whats-new/2021/06/announcing-per-second-billing-for-ec2-windows-server-and-sql-server-instances/

[2021-06-25 10:45] szy54 commented on #260
I am also facing this issue at $job, it's at least a second time. It seems that there's no workaround when it occurs since I don't consider jenkins restart as a workaround, - at least if we talk about serious company-wide used jenkins controller, you can't afford a restart in the middle of the day :(
It definitely emerges in our case after making change to plugin configuration and for sure there w

[2021-08-09 11:22] szy54 opened #270 "Modifying the plugin settings while jobs are queued or running"
Hello, is the "Gotcha"(mentioned [at the bottom of FAQ](https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/docs/FAQ.md) about modifying plugin settings considered a bug or desired behaviour? Are there any plans for implementing it the way that it's possible to modify the plugin settings on the fly without jenkins restart?

**Is your feature request related to a problem? Please describe.**
A

[2021-08-10 20:00] haugenj commented on #270
It's not _desired_ per say, but it seems to be a limitation with how Jenkins core loads the plugin configuration and constructs clouds - it essentially restarts our plugin but leaves Jenkins core running. I don't know of a way around that, but in theory jobs should be resubmitted when the new clouds are ready and everything would sort itself out.

The gotcha is there because we've noticed that mod

[2021-08-13 23:50] amccrodan commented on #248
Not sure if I'm missing something in the config - Ideally I'd like one instance to be "warm" at all times waiting for an incoming job, but I'm running into this same issue where I'm left with one suspended after it has reached its `Maximum Total Uses` (in my case, 1 use and it's done). It doesn't get terminated, intentionally I suppose, with the message `Not terminating i-xxxxxxx because we need a

[2021-08-16 19:53] haugenj commented on #248
@amccrodan You're not missing anything, there isn't really a way to keep a "warm" instance with maxTotalUses since most of the logic was designed with unlimited use instances as the only option.

I'm wondering if it's worth keeping an instance around after its maxTotalUses has been depleted. As you've seen it'll be terminated as soon as a new job arrives, so it's just wasting instance hours in the

[2021-08-16 20:01] haugenj opened #271 "Remove depleted instances that used `maxTotalUses` regardless of cluster `minSize`"
Instances using the `maxTotalUses` field are kept around until they hit their idle timeout limit, even if they are suspended and can't take any more work. These are wasting instance hours and should be terminated prior to their idle timeout, assuming it's non-zero (never terminate)

[2021-08-17 05:10] rajat3jain opened #272 "Number of executors not increasing in ec2flett cloud node."
## Issue Details

**Describe the bug**
Not able to increase the number of executors for ec2 fleet cloud node beyond 10.
Created a ec2 fleet cloud node via ec2fleet  plugin for aws.
In that provided all the credentials and configuration and number of executors as 10 ( initially).

after aws ec2 node was created , ran job pipeline ( 20 jobs in parallel)
but at the time only 10 jobs were running on t

[2021-08-17 10:29] mustafa89 commented on #186
Would be really great to have this. Is there an estimate to when this could happen?

[2021-08-17 16:51] amccrodan commented on #271
Thanks for opening this! The real crux of the matter (for me) is that they are also not terminated even past their idle timeout limit, if that would drop the count of instances below `Minimum Cluster Size`. Ideally the suspended wasteful one would be swapped out for a fresh instance.

[2021-08-17 18:21] hetile-ssense opened #274 "EC2-Fleet Spot doesn't scale up to minsize"
## Issue Details

**Describe the bug**
When creating a fleet, the number of nodes is never increased. I created a new fleet with initial capacity at 20 waited for all the nodes to up then configured EC2-fleet. It added all the agent and they all became ready.

I've set the min size to 5 and the max to 20 and the idle scale down to 5. I purposely didn't send any pipeline to these nodes so after 5 m

[2021-08-17 20:54] haugenj commented on #274
Took a look through the code, seems that the plugin is only using minsize to prevent terminations, not to scale upwards. The assumption being that the target capacity cannot be less than the minsize, which is untrue for spot fleet.

Thanks for finding this!

[2021-08-17 20:57] haugenj commented on #272
Just to make sure, are you adjusting the executors through the plugin settings or through the node page? I don't see the ability to change the number executors on a single node

<img width="605" alt="image" src="https://user-images.githubusercontent.com/56001173/129799503-deaec708-3130-4325-91c2-ebc2b842de7e.png">

[2021-08-17 21:39] hetile-ssense commented on #274
I know this question is super annoying to received but I'm not looking at a precise answer but something we can base our planning on. ssense wants to use this plugins but depending on the maintenance  schedule, we will look for an alternative solution while waiting for this plugin to be updated.

Based on your reply, I'm assuming that it would scale up based on load, our jenkins goes thru hundreds

[2021-08-17 21:41] hetile-ssense commented on #274
sorry about that ^^ I hit the wrong button.

We receive hundreds of PR every day with multiple stages so if the scale up would happen, we might still be able to use it for our production cluster. Load usually start to pickup around 8 am so the idea was to let it scale down very low over night and it would scale when dev start pushing PR.

Based on your answer, I'm assuming it would be safe to use

[2021-08-18 15:15] haugenj commented on #274
As long as you don't change minsize to a value greater than the current instance count in the fleet, it should scale up just fine. So if you want to have a minsize of 5, make sure that there are 5 instances in the fleet before saving the plugin config and we will never scale down below 5 instances.

I think even in your example case where you changed minsize from 5 to 10 it should still scale up a

[2021-08-19 07:28] zdtsw opened #275 "EC2 fleet set to use a wrong ASG (which should not be even created)"
## Issue Details
We use Jcasc to config EC2 fleet.
The issue we observed is even there is no name-matching ASG it still picks one.

For example, we have two jenkins controllers. One for production, one for testing.
Each sets with different value to env. variable `AWS_FLEET_GROUP`:
for production it is `"myproject"`
for testing it is` "myproject-test"`

Then in AWS,  we create ASG` jenkins_ec2_mypr

[2021-08-19 17:11] haugenj commented on #271
Looked through the code a bit more, looks like we do try and schedule these instances for termination right after they use up all their uses ([code reference](https://github.com/jenkinsci/ec2-fleet-plugin/blob/ea67792dffe5a12245bda8e77705ef4ba5b32867/src/main/java/com/amazon/jenkins/ec2fleet/EC2RetentionStrategy.java#L134-L136)), but the min cluster size blocks them from being added to the termina

[2021-08-19 18:10] imuqtadir commented on #275
@zdtsw Can you share the logs with me specifically around cloud formation stack creation (test-linux)? Also, share Jcasc code if possible. Feel free to conceal critical/confidential info, I want to analysis the flow of events so I could replicate it on my end.

[2021-08-19 21:28] hetile-ssense commented on #274
I can confirm that the plugin did scale up when load was sent to it 💯

[2021-08-20 04:53] AaronLuo3296 commented on #248
I'm also running against this. I have two Jenkins instances, each instance has a ec2fleet configure to a seperate ASG on AWS. Both are experiencing the same issue. The slaves are suspended, but not terminated.

<img width="1445" alt="Screen Shot 2021-08-20 at 2 51 23 pm" src="https://user-images.githubusercontent.com/14754431/130180890-86c04877-a0a1-4457-a7eb-6908ff04d318.png">

Some logs I got ar

[2021-08-20 06:06] AaronLuo3296 opened #277 "Unspecified jobs will trigger ec2 fleet to provision"
## Issue Details

**Describe the bug**
Not sure if this is intended, an unspecified job will trigger ec2 fleet to provision slaves. Since the ec2fleet has enabled "Restrict Usage", which doesn't allow the unspecified job to build on the provisioned slave. Without other slaves accept the unspecified job, the job will trigger more ec2fleet slaves being provisioned until reaching the "Maximum Cluster

[2021-08-20 16:09] haugenj commented on #277
Just verified this, good catch! Definitely don't want to be provisioning instances that can't handle the jobs they're meant for. We should add some logic to `canProvision()` to handle this

[2021-08-23 05:30] zdtsw commented on #275
@imuqtadir thanks for reply! here is the snippet of my code, running in init.groovy
[code]
I am not sure what you meant by "logs around cloud formation stack creation"? is this part of the Jenkins logs when it gets started?

[2021-08-23 15:48] imuqtadir commented on #275
@zdtsw Yes, the plugin logs should be part of the startup.

[2021-08-24 05:36] zdtsw commented on #275
Tried to find any related startup log, but could not.... then I looked up the code, realized that we've set
[code]
but I think by using jcasc config in init.groovy it should be easily reproduce this issue, which usually wont be noticed if EC2 fleet is configed manually by UI from dropdown list

[2021-08-24 18:20] mwos-sl commented on #265
FWIW I've just noticed the same :(
In our case, default parameters are picked for a retry, which is wrong.

[2021-08-25 15:00] HariomSaini opened #279 "Ec2-Fleet terminating instance even if there's a job in progress."
I'm gettting this error too frequently.

[code]

I have kept `Max Idle Minutes Before Scaledown=25`. Frequenty getting this error. What I think might be happening is ec2-fleet isn't checking if a job is in running state on that instance before making the call to terminate the instance.
Reading the [docs](https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/docs/FAQ.md), indeed it isn't checki

[2021-08-25 16:10] haugenj commented on #279
👋 hi @HariomSaini

We do consider the state of running jobs on a node when using our termination logic, so I'm wondering if this is actually us terminating the node or some external error (maybe spot interruption?).

Would you be able to provide some more logs? When a node is idle the retention check logs will look like this:

2021-08-25 16:02:18.235+0000 [id=35]	INFO	c.a.j.e.EC2RetentionStrategy#

[2021-08-26 09:34] mwos-sl opened #281 "Warning about missing JAXB dependency and some de-serialization problem"
## Issue Details

In node log (`https://myjenkins.com/computer/<NODE_ID_HERE>/log`), after agent is connected and do some work, I get warnings:

[code]

Note I'm on java 11 on workers.

## Environment Details

**Plugin Version?**
2.3.2

**Jenkins Version?**
2.297

**Spot Fleet or ASG?**
ASG

**Label based fleet?**
No

**Using No Delay Provision Strategy?**
Yes

**Linux or Windows?**
Linux

**Anyth

[2021-08-30 15:06] haugenj commented on #272
I did some quick testing of this, looks like we don't change the executor count for existing nodes after cloud settings are saved because we're reconnecting to existing agents instead of constructing new ones. Ideally there's an easy method we can call to update the number of executors when doing the reassign logic

[2021-09-01 01:19] jsnod opened #284 ""Test Connection" button fails with: "The request must include the SpotFleetRequestId parameter""
## Issue Details

Clicking the `Test Connection` button in the `Configure Clouds` page results in an `ERROR`. Here's what I see in the Jenkins log:

[code]

**To Reproduce**
1. Navigate to `Dashboard` > `Configure Clouds`
2. Have a valid `EC2 Fleet` selected in the dropdown
3. Click `Test Connection`

## Environment Details

**Plugin Version?**
2.3.3

**Jenkins Version?**
2.289.3

**Spot Fleet or

[2021-09-01 11:10] mwos-sl opened #285 "Tens of instances suspended, idleMinutes max time not respected, no capacity to create new instances"
## Issue Details

**Describe the bug**
I enabled ec2 fleet plugin for one of our pipelines, and after the first successful run, all 62 instances went into "suspended" state:
![image](https://user-images.githubusercontent.com/55095506/131659972-c3fb99b1-b5fc-4c8d-b3ee-31d6f6676269.png)

They are marked as healthy in aws console. However those are not picked up by new builds, and as a matter of fact

[2021-09-01 11:39] mwos-sl commented on #285
FWIW When I manually clicked in jenkins configuration "Delete agent" on a "suspended" node, it was terminated successfully and after some time replaced with new ec2 instnace.

[2021-09-01 11:56] mwos-sl commented on #270
If by "re-submitting" you mean restarting, I think it isn't desired either. To my mind it's more about rediscovering already running nodes, re-attaching to them and allowing to continue the work they are in the middle if it makes sense.
At least this is what from user perspective is done by a competetive https://plugins.jenkins.io/ec2/ plugin. This one allows reloading configuration on the fly, an

[2021-09-01 12:25] mwos-sl commented on #285
I jenkins master I've got plenty of:
[code]

But the instance is still there, even though logs claim there was a termination attempt.

[2021-09-01 15:09] haugenj commented on #270
Sorry, I misspoke there, if the cloud configuration is changed and the underlying fleet/asg is the same we reconnect to the instances and existing executors and the jobs that are running continue (just tested this to make sure). If the fleet/asg of the cloud is changed though, we resubmit the job since the executor is lost to a node that we no longer manage and is no longer part of Jenkins.

Chang

[2021-09-01 17:28] mwos-sl commented on #285
After few hours - they were still hanging nodes in "suspended" state. I was trying to bring them back using this script:
[code]
But nodes become not-suspended only for a moment, and then enter again into "suspended" state :(
So eventually I had to remove all such nodes using similar script:
[code]

which took several minutes for ~60 nodes.

[2021-09-01 18:04] haugenj commented on #285
@mwos-sl if you have the logs for this could you post them? preferably at the fine level

[2021-09-02 00:34] mwos-sl commented on #285
I'll try to catch some when the issue reappears.

BTW I couldn't find description of parameters: `addNodeOnlyIfRunning` and `alwaysReconnect`. What do they do? Any chances it is connected?

[2021-09-02 15:41] haugenj commented on #285
`addNodeOnlyIfRunning` will make the plugin wait until an ec2 instance is in the `running` state before adding it as a Jenkins slave

`alwaysReconnect` tries to connect to offline agents so that there are not suspended agents.

I don't think either of these are connected though because the instances are getting marked for termination (the "attempting to terminate..." log) but not being terminated

[2021-09-02 16:51] #274 closed

[2021-09-06 12:06] mwos-sl commented on #285
So it was fine for few days, and then I reloaded Configuration as Code today and again I've got suspended machines.
I've already had `alwaysReconnect: true`.
So I'm pretty sure, it happens when CasC is reloaded.

The log shows (from a log recorder with severity ALL):

[code]

[2021-09-06 12:19] mwos-sl commented on #285
Full log (INFO severity though is):
[search-results-2021-09-06T05_08_35.826-0700.csv](https://github.com/jenkinsci/ec2-fleet-plugin/files/7115898/search-results-2021-09-06T05_08_35.826-0700.csv)
And I found there nothing really interesting.
What might be important though, is that all instances that were online before/during casc reload, went into "suspended" state after some time. And only those i

[2021-09-08 16:01] gwsu2008 opened #287 "The plugin does not scale additional instance when there are builds in the build queue."
There are jobs in the Build Queue, the plugin does not launch additional instances and all jobs are pending on a single instance.

**To Reproduce**
1. Configure Cloud with the information below.
2. Create 6 Jenkins Jobs and restrict builder label to Test, with build step execute shell (sleep 600)
3. Run Job 1. wait for an instance to be launch.
4. While the  Jenkins job is waiting for the builder

[2021-09-08 16:13] haugenj commented on #287
If you're not using the No Delay Provisioning Strategy then Jenkins Core determines when to scale up for pending jobs, and it will often wait before provisioning instances. If you want to scale more quickly, I'd suggest trying the No Delay Provisioning Strategy.

Can you provide the logs?

[2021-09-08 16:43] gwsu2008 commented on #287
Hi,

Yes, I tried the option No Delay Provisioning Strategy still having the same issue. See attached the log and the screen capture.
![6](https://user-images.githubusercontent.com/11874389/132550214-41bc895f-98a3-4a86-9545-98cafd7a6888.png)
![3](https://user-images.githubusercontent.com/11874389/132550241-f11cafc1-9b80-4557-b696-666676abd2d1.png)
[ec2fleet.log](https://github.com/jenkinsci/ec2-fl

[2021-09-08 17:23] gwsu2008 commented on #287
Having a close look at the logs, I do see the plugin update the fleet capacity to 3 but the AWS Spot Request showing pending_fulfillment. At this point, not sure if the plugin can do anything, other than just wait? Maybe the plugin wait for spot fleet status can be timed out on pending fulfillment and retry again. There are still pending jobs in the Build Queue. At least the jenkins log should sho

[2021-09-08 23:12] mwos-sl opened #288 "autoscaling group - capacity rebalancing support"
**Is your feature request related to a problem? Please describe.**
When creating autoscaling group for ec2 fleet, one of the configuration is `capacity_rebalancing` boolean.
More to read about this: https://docs.aws.amazon.com/autoscaling/ec2/userguide/capacity-rebalance.html
TLDR: AWS informs that some machines should be rolled soon, because a capacity in a given pool is smaller compared to some

[2021-09-09 01:04] #287 closed

[2021-09-09 01:06] gwsu2008 commented on #287
The issues have been resolved. The issue is on the AMI according to this doc. After updating the AMI image and the plugin works as expected now.
https://aws.amazon.com/premiumsupport/knowledge-center/ec2-fix-pending-spot-request/

[2021-09-09 13:44] mwos-sl commented on #285
@haugenj is there anything else I could do, to help fixing this one? Working with jenkins became very hard because of that :( We froze switching to spots, because we reload configuration very often, and too many instances become suspended.

[2021-09-09 16:13] #284 closed

[2021-09-14 15:28] haugenj commented on #285
I changed the logging a bit in the new release, if you could try reproducing this again and capturing the fine-level logs hopefully that would give us something to go off of

[2021-09-14 15:31] haugenj commented on #186
I don't think I'll be able to get around to this until after re:Invent, so sometime in December perhaps.

Always happy to give pointers or review PRs though if someone else is able to contribute the code

[2021-09-16 00:30] nwithers-ecr opened #291 "Fleet plugin ignoring agents that exceed the age maximum which stays alive due to minimum count"
## Issue Details

**Describe the bug**
When there exists a fleet agent that is being kept alive due to a minimum cluster size but exceeds the max idle minutes before scaledown, if the fleet plugin sees a new job in the queue, it will schedule a new fleet agent and terminate the already existing agent.

**What I expect to happen**
Instead of spinning up a new agent, the fleet plugin should use the

[2021-09-16 16:43] haugenj commented on #291
Likely this is happening because you've got the `maxTotalUses` field set to 1, so I would guess the idle instance had already been used for a job.

There's a related issue #271 for removing these used instances preemptively

[2021-09-16 17:19] gwsu2008 commented on #285
I also have this issue, not sure how it happened. See attached log for suspended instance. Jenkins does attempt to terminate the ec2 instance every 2 mins but somehow the instance is still up and running. I manually remove the node after almost 24 hours
[suspended-node.log](https://github.com/jenkinsci/ec2-fleet-plugin/files/7179812/suspended-node.log)

[2021-09-16 17:56] nwithers-ecr commented on #291
I will run a few more jobs to confirm. I didn't check to see if the instance had been used or not.

[2021-09-16 19:19] haugenj commented on #285
@gwsu2008 are you also using configuration as code to configure the fleets? Could you update to 2.3.4 and send me the fine level logs if the issue reappears, the new version should contain some more information to help me debug this

[2021-09-16 20:01] gwsu2008 commented on #285
@haugenj No, I am not using configuration as code to configure the fleets. It's configured in 'Configure Clouds' under Nodes in Jenkins. I don't see 2.3.4 appearing in the Plugin Manager yet. Currently, I have 2.3.3 installed.

[2021-09-20 17:44] alb777 opened #292 "EC2 Fleet not listed"
Need to understand if the scenario below is a bug or just a incompatible resource with the plugin unlike spotfleet or asg

**Describe the problem**
After create EC2 Fleet Request on AWS with appropriated permissions linked on instance profile
EC2 Fleet fullfiled and instance running
Install Jenkins EC2 Fleet Plugin at Jenkins master
The EC2 Fleet launcher ID from slave are not listed even "Show Al

[2021-09-20 19:09] haugenj commented on #292
We only show "fleet" request types, not "instance" request types. The instance requests (`sir-n65...`) are tied to fleet requests (`sfr-2df3...`) and the plugin should find the instances once you hit save and it initializes

[2021-09-20 19:45] alb777 commented on #292
@haugenj both requests are independent, spot fleet request from screenshot is part of another workload that is not related to jenkins.

At my reproduced scenario, EC2 Fleet request action hasn't dependency on spot fleet request, created like this doc reference:  https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/manage-ec2-fleet.html

[2021-09-20 22:03] haugenj commented on #292
Ah I see. The plugin doesn't support EC2 Fleet right now. We only support [Spot Fleet](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-fleet.html) and Auto Scaling groups

[2021-09-21 10:05] alb777 commented on #292
Thank you @haugenj, there is any plan to integrate EC2 Fleet resource ?

[2021-09-21 14:36] haugenj commented on #292
No not currently. If there's more desire for this I'll give it a higher priority, but I likely won't be able to get started on more plugin work until after re:Invent

[2021-09-21 15:26] #292 closed

[2021-09-23 13:08] nwithers-ecr commented on #291
I've been watching the jobs for a few days and I do believe that you're right and this is related or a duplicate of #271

[2021-09-23 18:47] haugenj commented on #291
closing in favor of #271

[2021-09-23 18:47] #291 closed

[2021-09-27 10:42] Hildebrand-Ritense opened #293 "Get insight in node's number of uses"
Hey, I love this great plugin and have been looking through the logs to see if I can get grips on the scaling behaviour and more specifically on the number of uses of a node.

Sometimes I wonder if the scale-down algorithm is working correctly and being able to check whether a specific node has passed the Maximum Total Uses treshold would really help. Would it be possible to either display this in

[2021-09-27 17:07] haugenj commented on #293
We log the remaining number of uses for an agent when a task is accepted, so you should be able to get some information right now
<img width="708" alt="Screen Shot 2021-09-27 at 12 01 29 PM" src="https://user-images.githubusercontent.com/56001173/134953569-c43bd67d-9774-4434-832e-fc284b8d3272.png">

I think adding that info to the age information in the idle check is a great idea though!

[2021-09-28 07:55] Hildebrand-Ritense commented on #293
Ah great, I must have missed these lines while skimming through the logs.
Now running this line gives me some insight in an agent's status: `sudo tail -f -n 1000 /var/log/jenkins/jenkins.log | grep "builds left"`

[2021-10-01 15:20] samveljanvelyan opened #294 "Jenkins master node is unable to upscale label based worker."
## Issue Details
Jenkins master node is unable to upscale worker instances.
**Describe the bug**
 All nodes of label 'my_label' are offline.

The problem arose today. Yesterday everything work as fine. Jenkins version nor the plugin version were updated.

**To Reproduce**
1.
2.
etc.

## Environment Details

**Plugin Version?**
2.3.2

**Jenkins Version?**
<X.xxxx>

**Spot Fleet or ASG?**
Spot fleet

[2021-10-01 19:39] #294 closed

[2021-10-06 13:22] fipciu1996 opened #296 "Adding possibility to request fleet modifications with some additional machines which will be waiting for getting tasks"
Spawning instances took some time, sometimes around 6 min. So it will be interesting to have the possibility to spawn for example 3 additional machines ready to use.

The best solution in my opinion for that purpose will be an optional variable in cloud configuration to keep the specified number of instances waiting for tasks till getting the maximum level of the Maximum instances.

[2021-10-07 23:53] mwos-sl commented on #296
I think it's a duplicate of:
https://github.com/jenkinsci/ec2-fleet-plugin/issues/233

Please vote in the original ticket to increase chances it's picked up by maintainers :)

[2021-10-13 19:52] Hildebrand-Ritense opened #297 "Launch specification in documentation"
Congratulations with the latest release. Great to see the integration of Jenkins with all of AWS's cool features of Auto Scaling Groups.

And that's where I'm a bit confused. The [documentation / help texts](https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/src/main/resources/com/amazon/jenkins/ec2fleet/EC2FleetCloud/help-scaleExecutorsByWeight.html) consistently mention it uses weight inf

[2021-10-13 20:00] webminster opened #298 "Update to 2.3.5 breaks all fleets"
Running Jenkins LTS 2.303.2 and upgraded ec2-fleet plugin from 2.3.4 to 2.3.5.
No executors will launch after restart.  Downgrade to 2.3.4 starts things working.

Massive tracebacks in the Jenkins master logs.  See attached logs.

2021-10-13 19:49:59.736+0000 [id=50]    INFO    c.a.jenkins.ec2fleet.CloudNanny#doRun: Error during fleet 'FleetCloud' stats update
java.lang.NullPointerException

[2021-10-13 22:15] #298 closed, assigned to haugenj

[2021-10-20 16:15] imuqtadir commented on #285
Also, could you let us know what values/parameters do you change while reloading CasC or is it just reloading with same values?

[2021-10-21 18:08] #10 closed

[2021-10-21 18:11] #48 closed

[2021-10-21 18:12] jillmon commented on #61
Closing for now. Please let us know if this issue is still affecting you.

[2021-10-21 18:20] jillmon commented on #115
https://www.youtube.com/watch?v=8gGItacZjps

[2021-10-21 18:20] #115 closed

[2021-10-21 18:29] #144 closed

[2021-10-21 18:34] #155 closed

[2021-10-21 18:35] #161 closed

[2021-10-21 18:53] #259 closed

[2021-10-27 18:03] imuqtadir opened #302 "Reassigning old cloud without oldId"
## Issue Details

**Describe the bug**
Jenkins always creates a new instance of `Cloud` object each time when you save Jenkins configuration regardless of whether it had actually changed or not. Basically, Jenkins never mutates existent instance of Cloud. As a result all objects which depend on the info from cloud should start to consume new instance of this object.

The Cloud object referenced wi

[2021-10-27 18:04] #285 closed

[2021-10-29 16:51] #281 closed, assigned to nobody

[2021-10-29 17:10] #302 closed, assigned to imuqtadir

[2021-10-29 18:37] imuqtadir commented on #41
@LoveDuckie Can you please open a new issue along with logs and provide info around your setup? I'm closing off this issue as it is pretty old and having latest info per newer releases would be helpful

[2021-10-29 18:37] #41 closed

[2021-11-01 18:49] imuqtadir commented on #302
This was pushed as part of 2.3.7 release

[2021-11-01 19:25] imuqtadir commented on #275
Let us know if this solved your issue.

[2021-11-01 19:28] #234 closed

[2021-11-02 17:23] #288 closed

[2021-11-02 17:23] #268 closed

[2021-11-02 17:23] #266 closed

[2021-11-02 17:23] #257 closed

[2021-11-02 17:23] #227 closed

[2021-11-02 17:23] #216 closed

[2021-11-02 17:23] #152 closed

[2021-11-02 18:00] #275 closed

[2021-11-02 18:00] #260 closed

[2021-11-08 09:05] driverpt commented on #233
@mwos-sl , are you referring to WarmPools ?

[2021-11-08 16:59] imuqtadir commented on #293
@Hildebrand-Ritense This should go out with next release 2.3.8

[2021-11-08 19:17] morlajb commented on #302
we just update to 2.3.7 3 days ago , and looks like the issue still exist , if you need any logs or any conf , i can try and help with this ...

[2021-11-08 19:49] mwos-sl commented on #302
FWIW We upgraded few days ago, I already did several CasC reload on 2 of our jenkinses, and the fix seems to work on both.

[2021-11-08 20:02] mwos-sl commented on #233
_Something like this_, but I'm not sure if this feature should be handled on AWS side (by ASG) in this case.
If I understand warm pools correctly, they just keep some ec2 booted up, but there is no jenkins agent provisioned and no jenkins init script run until jenkins master ssh to such node and executes initialisation.
Also calculation of size of warm pools seems strange.

And in my case I need s

[2021-11-08 21:29] imuqtadir commented on #302
@morlajb I would advise you to restart Jenkins (not just the plugin) once. If you still encounter this issue then feel free to open a new issue. Follow the template to provide us with all the info.

[2021-11-08 21:30] imuqtadir commented on #302
@mwos-sl I'm happy that it resolved your long standing issue. Thank you for your patience in working through this.

[2021-11-09 06:52] morlajb commented on #302
Thanks @imuqtadir  will restart and update

[2021-11-09 09:57] Hildebrand-Ritense commented on #293
Thank you for mentioning :) this is great news and greatly benefits insight in the scaling actions.

[2021-11-09 18:21] #293 closed

[2021-11-09 18:59] imuqtadir commented on #293
You are welcome! :) This was released as part of 2.4.0

[2021-11-09 19:20] mwos-sl opened #306 "Automatically create ASGs"
When I want to introduce new agent group with some labels (a.k.a. cloud fleet) I need to create ASG on AWS side.
Of course I've got it already extracted to a tf module, but still I need to add entry each time.

It would be awesome, if plugin could create it by itself. Something similar to what is already available in this plugin, but not exactly this, because the existing feature requires configur

[2021-11-10 18:45] imuqtadir opened #307 "MaxTotalUses gets reset after configuration change"
## Issue Details

**Describe the bug**
Whenever the user tries to change any configuration, we reset the `MaxTotalUses` of the nodes.

**To Reproduce**
1. Check Builds left for a node
2. Change any configuration of the plugin (say maxClusterSize)
3. Click Save
4. Notice Builds left get reset back to original `MaxTotalUses`

## Environment Details

**Plugin Version?**
2.4.0

[2021-11-12 19:18] #307 closed

[2021-11-13 05:15] Bdoom opened #309 "No fleets appear"
I copied the json for the IAM permissions from the jenkins plugin page and created an IAM role, followed the steps in order. However, no fleets for my spot instances are being populated in the select fleet dropdown. The plugin is broken.

[2021-11-13 18:14] Bdoom commented on #309
![image](https://user-images.githubusercontent.com/1284431/141654615-2b8622cd-246c-43d1-8314-10a457a118b8.png)
Here is my fleet

Nothing shows in drop down menu:
![image](https://user-images.githubusercontent.com/1284431/141654627-53717e15-e72f-48e3-9763-b81805fa3a3a.png)

IAM Role:
![image](https://user-images.githubusercontent.com/1284431/141654660-de10680c-a857-45eb-8738-0526e26d1e0f.png)
![ima

[2021-11-13 18:24] Bdoom commented on #309
I got it working now. I created a brand new user in IAM and added the policy. I'm assuming the policies might have conflicted or something? Still seems like a bug to me.

[2021-11-15 17:19] imuqtadir commented on #309
After you got it working, is there a difference between the working IAM policies and the policies provided in instructions?

[2021-11-15 18:28] agaudreault-jive commented on #269
Sorry for the late reply, we use Groovy script to initialize the plugin when Jenkins (docker image) starts. So something similar to CasC, but a little homemade. I will try the new version and let you know.

We currently let the oldId be null.

Here is a simplified version
[code]

[2021-11-15 18:44] imuqtadir commented on #269
I think the newer version will solve this issue. Please let us know if you run into the same issue again.

[2021-11-15 18:55] imuqtadir commented on #233
@mwos-sl Just elaborating my understanding here about minimum spare number of instances. We would always have `minimum spare instances` as idle at any given time. Let's say we have new builds come up, we would let the spare instances pick up the work however go ahead and launch new instances to satisfy the minimum spare instances criteria. These spare instances will not be terminated if they are i

[2021-11-16 09:32] fipciu1996 commented on #233
@imuqtadir

Yeah, you understand correctly. It will be really helpful especially when we had faced the situation right now when sometimes we are waiting for a couple of minutes for spawning the instance and it will help us to make our builds faster.

For now, as a workaround, we modified the configuration to keep instances idle for one hour and we've increased the number of maximum builds, but it

[2021-11-16 09:38] h-okon commented on #233
Up. This would highly reduce time when waiting for an instance.

[2021-11-16 09:54] mwos-sl commented on #233
@imuqtadir yes, I meant exactly this :)

Well, it would be even more awesome to have a way to force roteting those spare instances if they are working for way too long as well.  By, for example, introducing one more optional parameter `spareInstanceIdleMinutes` (next to the existing `idleMinutes`, with default to infinity), which would force replacing an instance even if it is "spare", and new one

[2021-11-16 10:11] mwos-sl opened #310 "Builtin `retryableSpotNode` scripted block"
Sometimes I don't want a whole pipeline job to be retried on spot termination, so I set `disableTaskResubmit: true`.
Why I do this?

Because in some pipelines I've got agent defines on a stage/step level using `node("agentName") { ... }`, and I don't need to repeat whole pipeline. And it's enough if I retry a single step if spot agent was interrupted.
It is even more important in situations where

[2021-11-16 10:37] letmeseeit commented on #233
Definitely useful feature. In the landscape I am working with waiting for new instances allocation can significantly increase build times. Having pool of "always" ready spots would solve my issues.

[2021-11-16 20:06] imuqtadir commented on #233
Thanks for your input. @mwos-sl I like the idea for having some mechanism to recycle these at some point, we could use `spareInstanceIdleMinutes`. For starter, we will aim to have simplified version soon and take it up from there later.

[2021-11-17 19:18] #271 closed

[2021-11-17 19:18] imuqtadir commented on #271
I have pushed the code for this. It should go out in next release this week.

[2021-11-17 21:47] imuqtadir commented on #271
Released in 2.4.1

[2021-11-18 16:54] imuqtadir commented on #309
I tested the policy and it seems fine. Feel free to reopen the issue if you encounter it again.

[2021-11-18 16:54] #309 closed

[2021-11-18 17:25] #297 closed, assigned to nobody

[2021-11-21 19:12] mwos-sl commented on #265
Dear maintainers, please apply "stalebot-ignore" label ⬆️

[2021-11-22 04:35] mfa-inverso commented on #265
Does that mean that this bug will not be fixed?

[2021-11-22 17:50] haugenj commented on #265
I'll continue to work on this when I get time, I've been pulled onto other work for a while now. More than happy to accept prs for this if someone else is able to contribute in the meantime

[2021-11-23 15:09] mfa-inverso commented on #265
@haugenj That would be great. Thanks

[2021-11-24 10:16] fipciu1996 commented on #233
up

[2021-11-24 13:42] alb777 opened #313 "Create/update multiple fleets over "configuration as code""
Is it possible create more than one ec2fleet template configuration over the groovy script like this:

[code]

[code]

Besides that, if I wanna change the spot fleet request ID of a current template for example, is it possible through automation running the same groovy script with required modifications and  not by hand at Jenkins Fleet plugin console ?

[2021-11-26 17:23] #133 closed

[2021-11-26 17:23] #118 closed

[2021-11-26 17:23] #113 closed

[2021-11-26 17:23] #100 closed

[2021-11-26 17:23] #22 closed

[2021-12-01 21:21] pbudzon opened #315 "Support for instance weight when InstanceRequirements are used (not just InstanceType)"
**Is your feature request related to a problem? Please describe.**
We use spot fleet with `InstanceRequirements` set in LaunchSpecifications, instead of listing instance types. This allows for more flexible spot fleet - we specify requirements for the instances (min/max vcpus, memory, architecture) and spot fleet automatically chooses cheapest available instance type that matches those requirement

[2021-12-06 21:49] haugenj commented on #315
Thanks for opening this, I agree it seems like a valuable feature that we should add

[2021-12-06 22:02] haugenj commented on #313
Yes, I haven't tested it but I believe you should be able to manage multiple fleets via the configuration as code plugin. I think the second fleet would be another entry under `clouds` such as
[code]

And yes, you can update the fleet ID in the CasC and it should be ok. Some people have had issues with instances not getting terminated when doing this, but we addressed this in a recent release.

[2021-12-06 22:28] haugenj commented on #306
Can you explain the differences between this and the [label based fleet](https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/docs/LABEL-BASED-CONFIGURATION.md)?

[2021-12-06 23:00] haugenj commented on #310
I'm unfamiliar with how plugins like ours integrate with Pipelines, I'll need to read up on the documentation before I can give you a proper response :/

This might have benefits outside the scope of our plugin though, I wonder if this would fit better as a general feature to Pipelines to be able to resubmit at the step level?

[2021-12-07 09:54] mwos-sl commented on #306
The difference is specifying all of the parameters via a long single string in the pipeline vs. having a single label and specifying config in yaml.

But generally I could leave with _label based fleet_ if only it supports configuring few extra [parameters](https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/docs/LABEL-BASED-CONFIGURATION.md#supported-parameters) that it's missing:
1. I can'

[2021-12-07 10:00] mwos-sl commented on #306
There is actually one more thing: I share my workers between several separate pipelines.
I think this is not possible with _label based fleet_, right?

[2021-12-15 22:40] mwos-sl commented on #313
I confirm - we've got tens of `ec2Fleet` configured as code in jenkins.yaml.

[2021-12-27 21:10] morlajb commented on #265
@haugenj if there is a preliminary fix , I can help and test it

[2021-12-28 15:10] fipciu1996 commented on #233
up

[2021-12-30 09:04] dreamercz opened #316 "Is it required to install Jenkins agent on intances beforehand?"
I am trying to wrap my head around the initial configuration, specifically the `Launch agent via execution of command on the controller`option. I could not find any more detailed documentation for this option.

Do I understand it correctly, that the Jenkins agent is not installed automatically, and I need to provision the AMI with Jenkins agent before I let the ASG create new instances?

EDIT: Or

[2021-12-30 09:43] dreamercz commented on #316
I feel like an idiot but here's what I did to fix it:
- switched to `Launch agents via SSH`
- renamed the stored credentials to user the default EC2 of `ec2-user`
- installed Java 11 onto the instance

[2021-12-30 09:43] #316 closed

[2022-01-04 08:59] dudaco opened #317 "Control which availability zones the spots are requested at"
**Is your feature request related to a problem? Please describe.**
Currently our jenkins configured to request spots from us-east-1 region and when it tries to request more instances we receive this issue: launchSpecUnusable c5.2xlarge ami-xxxxx, Linux/UNIX, us-east-1e, requested instance type is not supported in the requested Availability Zone.

the us-east-1e availability zone is not even config

[2022-01-06 22:21] haugenj commented on #265
@morlajb I never got further than what i described earlier with
[code]

Inside of `EC2FleetAutoResubmitComputerLauncher`. I remember I was having trouble configuring tests that would trigger it

[2022-01-06 22:39] haugenj commented on #317
Can you elaborate on how you created/configured your spot fleet? AFAIK the plugin will only try to increment the fleet so it does not include any information regrading which az an instance would launch in

[2022-01-06 22:40] haugenj commented on #310
pending research on my end

[2022-01-11 17:28] #306 closed

[2022-01-11 17:46] #313 closed

[2022-01-12 14:23] markmcnaughton opened #319 "Fleet ASG fails to load"
## Issue Details

**Describe the bug**
"EC2 Fleet" field fails to populate. We were previously using the same config / credentials / IAM user. The config was deleted before a Jenkins upgrade.  We also attempted to resolve by updating the plugin. We are not able to re-configure the ec2 fleet because the ASG field is not being populated (see screenshot). When exporting the config I noticed it is out

[2022-01-14 18:03] hoshsadiq opened #320 "Add support for inbound agents"
**Is your feature request related to a problem? Please describe.**
We're trying to get Jenkins controller to connect to FIPS 140-2 compliant hosts as agents. This seems to be an issue with the ssh client Jenkins but I'm struggling to actually figure out where and why this is happening or where we could fix this.

Regardless of the above, FIPS compliance related issues seems to be a little deeper f

[2022-01-18 17:04] hoshsadiq commented on #320
As an alternative, AWS SSM Session Manager would be great. Being able to skip SSH key management would be great!

[2022-01-24 18:17] imuqtadir commented on #320
This seems to be a bit more specific ask for your use-case. We usually prioritize issues based off general public use-cases/demand however we welcome PRs. Feel free to open a PR and we could help merge these in. Alternatively, I can keep the issue open to gauge public interest on this and prioritize it when we have enough users asking for this.

[2022-01-24 18:21] imuqtadir commented on #319
Can you make sure that your AWS Creds have all the necessary permissions? From error logs, it seems that we are not able to create client for ASG which is usually the case when DescribeAutoScalingGroup permissions are missing. Also, make sure you have selected the right AWS Region.

[2022-01-25 08:05] markmcnaughton commented on #319
Unfortunately, we have confirmed that the correct region is selected and that DescribeAutoScalingGroup permission is allowed.

We're using the following policy:
`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "ec2:DescribeSpotFleetInstances",
                "ec2:ModifySpotFleetRequest",
                "ec2:Create

[2022-01-25 08:06] markmcnaughton commented on #319
II see this error in the Jenkins system log:

`Timer task com.amazon.jenkins.ec2fleet.CloudNanny@18adf691 failed
java.lang.LinkageError: loader constraint violation: when resolving method 'void com.amazonaws.services.autoscaling.AmazonAutoScalingClient.<init>(com.amazonaws.auth.AWSCredentialsProvider, com.amazonaws.ClientConfiguration)' the class loader hudson.PluginFirstClassLoader @3f9d5025 of t

[2022-01-25 08:10] markmcnaughton commented on #319
I see the user is attempting to DescribeSpotFleetRequests, but nothing about auto scaling groups
![image](https://user-images.githubusercontent.com/13220949/150936943-465150e6-7742-400b-a4f4-bfddadf4c525.png)

[2022-01-25 16:50] imuqtadir commented on #319
I was not able to reproduce the error on my end. Can you try to add new AWSCredentials and see if that works for you? Once you do that, click on 'Test Connection` button present in the plugin settings.

[2022-01-31 12:04] fipciu1996 commented on #233
up

[2022-01-31 12:07] fipciu1996 commented on #233
@imuqtadir is anything going on with that issue ? We're really looking forward for this feature

[2022-02-02 22:06] imuqtadir commented on #233
@fipciu1996 Sorry for delay due to holidays. I have put out PR for it today. Feel free to review it.

[2022-02-03 05:56] markmcnaughton commented on #319
We created a new user and provided full permissions to ASG. Unfortunately, we get the same issue.

[2022-02-03 16:36] #233 closed

[2022-02-03 16:37] imuqtadir commented on #233
This should be going out in the next release which will done before EOW.

[2022-02-03 16:41] fipciu1996 commented on #233
Awesome, thanks for your help :)

[2022-02-03 21:51] imuqtadir commented on #233
This featured was part of release 2.5.0. Please let us know your experiences. It will be valuable for us to understand your use-cases and plan upcoming features.

[2022-02-04 09:07] letmeseeit commented on #233
That is an awesome news, thanks @imuqtadir !

[2022-02-05 13:46] h-okon commented on #233
Really good news. Thank you very much for implementing this feature.

[2022-02-07 20:25] imuqtadir commented on #319
I see that the linkage error happens when there are conflicting jars. Do you by chance are also using some other AWS EC2 plugin at the same time or have it added in your installation?

[2022-02-08 15:47] markmcnaughton commented on #319
Thanks very much. Uninstalling the EC2 plugin and re-installing the ec2-fleet-plugin resolved the issue.

[2022-02-08 15:55] imuqtadir commented on #319
Great! I'm glad that worked out. I'm resolving the issue, feel free to open new ones if you run into other issues.

[2022-02-08 15:55] #319 closed

[2022-02-08 19:42] wosiu opened #322 "Huge lag in provisioning workers, workers become suspended but not deleted"
## Issue Details

Sometimes there is a huge lag before workers are provisioned. Our developers started to observe this few weeks ago.
So for example:
[code]
As you can see the machine was provisioned almost 2 hours later. And I guess it started only because we manually changed a minimum cluster size for this label to 1 to kinda kick it.

I don't have full log, but I was able to collect some logs f

[2022-02-08 19:55] wosiu commented on #322
If there is anything else I could add please let me know.

[2022-02-08 19:58] mwos-sl commented on #233
Kudos! We'll check this out :)

[2022-02-10 13:01] mwos-sl commented on #265
Not sure if that helps, but there is plugin:
https://plugins.jenkins.io/rebuild/
they somehow gather all the parameters of a given build.

[2022-02-12 17:16] #317 closed

[2022-02-14 10:08] pauxus opened #323 "After CASC export, agents are no longer terminated"
## Issue Details

**Describe the bug**
Plugin works normally. After running Manage Jenkins > Configuration as Code > View Configuration, agents are not terminated any longer after inactivity timeout.

After updating the cloud configuration (without changes) it works again.

**To Reproduce**
1. Create a spot fleet, max number of usages 1, inactivity timeout 1
2. Start a node (via dummy job or AWS)

[2022-02-15 07:15] shahmishal opened #324 "EC2 instances dont autoscale, and load statistics graph not getting updated."
## Issue Details

**Describe the bug**
Unable to automatically scale up or down the instances, also the load statistics graph does not work for EC2 based labels.

[code]

[code]

## Environment Details

**Plugin Version?**
2.4.1

**Jenkins Version?**
2.319.2

**Spot Fleet or ASG?**
ASG

**Label based fleet?**
Yes

**Linux or Windows?**
Linux

**EC2Fleet Configuration as Code**
``
Paste only eC2Fle

[2022-02-16 20:52] imuqtadir commented on #324
Can you fill `EC2Fleet Configuration as Code` section so we could see what parameters are you using. Also, what labels are you using?

[2022-02-17 16:14] fdaca commented on #322
This can be found in logs:
[code]
and
[code]

[2022-02-17 19:23] imuqtadir commented on #322
From the limited logs you provide, I see that `plannedCapacitySnapshot=8` which means that jenkins is waiting for the instances to come up. And also ` Described instances: []` which basically means that no instances were launched/running within the fleet. I don't see the target capacity printed in the logs so I can't really point to a particular issue. There could be multiple reasons for issue to

[2022-02-18 11:39] fdaca commented on #322
@imuqtadir Thank you for the details. We're using spot nodes with EC2 Fleet plugin. What we're observing is having `plannedCapacitySnapshot` set to a desired amount for a long time, but:
- no events to scale out on the ASG side visible
- EC2 Fleet status reporting `nodes: 0, target: 0`
- our ASG maximum capacity is high - around `120`
- our spot instance requests utilisation is within limits with

[2022-02-21 08:19] mjainta commented on #323
I can confirm the behaviour:
* EC2 Fleet: 2.5.0
* Casc Plugin: 1346
* Jenkins: 2.319.2

We have multiple ASGs configured.
Reproducing the bug on a single ASG triggers the error on every other ASG as well.

[2022-02-21 20:41] imuqtadir commented on #323
I debugged this and it seems that `View Configuration` for CasC causes reassignment of the `cloud` object within the nodes similar to `Reload Configuration`. However, the cloud object is getting reassigned incorrectly which is causing nodes to remain in suspended state without getting terminated. We will need to dive deeper to figure out the fix for this.

[2022-02-24 01:09] shahmishal commented on #265
We are also running into this issue @mwos-sl suggestion looks promising, @haugenj is that something you looked at before?

[2022-02-24 01:30] shahmishal commented on #324
After restarting Jenkins application, this issue was resolved.

[2022-02-24 01:30] #324 closed

[2022-02-25 05:22] shahmishal commented on #265
Rebuilder plugin includes parameters:
https://github.com/jenkinsci/rebuild-plugin/blob/master/src/main/java/com/sonyericsson/rebuild/RebuildAction.java#L228

EC2 Fleet plugin would need to change code in this area:
https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/src/main/java/com/amazon/jenkins/ec2fleet/EC2FleetAutoResubmitComputerLauncher.java#L103-L104

[2022-03-01 18:05] imuqtadir commented on #265
I'm looking into this issue. I'll keep you all posted.

[2022-03-02 17:19] #320 closed

[2022-03-05 10:20] mwos-sl commented on #306
@haugenj can we reopen this one? This feature is still missing and it would help vastly with creating new agents types.

[2022-03-05 11:05] mwos-sl commented on #322
@imuqtadir I don't have github persmission to reopen the issue.

But the issue is definitely still there (on 2 independent jenkinses we have),

Plugin version: 2.5.0
Jenkins: 2.336

Behaviour exactly the same as described above.
Pipeline is hanging for more than 1 hour on:
![image](https://user-images.githubusercontent.com/55095506/156880172-44ffa42e-d45f-4edc-8fe4-aea658669d5b.png)

while plugin

[2022-03-05 11:07] mwos-sl commented on #322
I noticed it gets unstucked only when new job arrives which needs the same label. So now I observed situation that a different build started which uses the same label, and as a result "target" capacity on the plugin side has just increased to 1.

[2022-03-05 11:09] mwos-sl opened #325 "Huge lag in provisioning workers - please reopen"
I put details into existing ticket so that all info are in a single place:
https://github.com/jenkinsci/ec2-fleet-plugin/issues/322#issuecomment-1059743662
I dont have right to reopen the original one. Please reopen.

[2022-03-05 18:47] mwos-sl commented on #325
Original ticket reopened. Thank you :)

[2022-03-05 18:47] #325 closed

[2022-03-07 10:22] posilva commented on #63
@terma Why not following the same interface as other Jenkins Cloud Providers and allow to set the env variables using the Jenkins Ec2 Fleet configuration.

Having to update the deployment to adjust an environment variable does not sound reasonable, once Jenkins is able to set environment variables in slaves already.

What do you think?

Thanks for the great plugin.

[2022-03-10 11:29] jozenstar commented on #265
@imuqtadir Any luck so far?

[2022-03-10 21:04] mwos-sl commented on #322
Is there anything I could help to resolve this? Like provide some extra data?

[2022-03-11 18:13] imuqtadir commented on #322
@mwos-sl Thanks for the details. This seems like a transient issue and difficult to reproduce specially since the new build with the same label is able to increment the total capacity later. How often do you see this issue happening and does it affect other labels or it is specific to a single label always? If you see a pattern that helps us reproduce the bug, it will be super helpful.

[2022-03-14 18:04] mwos-sl commented on #322
Seems like all the labels are affected.
I'll try to gather more data with time.

[2022-03-17 22:24] runswithd6s opened #327 "Plugin actions are blocked by a single EC2 instance with Termination Protection"
## Issue Details

**Describe the bug**
When a fleet node has termination protection enabled after it has been instantiated, this protection halts other actions of the plugin toward other nodes in the fleet. The fleet increases in size, but none of the new jenkins nodes are bootstraped with Jenkins agents (ssh), and the build queue simply increases. Attached is the configuration in the wild. We hav

[2022-03-18 17:30] imuqtadir commented on #265
@jozenstar I'm working on trying to find the best solution to this.

[2022-03-22 21:52] imuqtadir commented on #265
I have tested my changes and the fix works fine. I will cut a release probably before end of the week.

[2022-03-24 19:23] #265 closed

[2022-03-25 17:30] jozenstar commented on #265
@imuqtadir Thanks!

[2022-03-29 18:10] darthkisling opened #329 "Removing outdated terminology"
Overall the tech community has made good strides to eliminate the unnecessary and harmful language associated with Master and Slave terminology. In most areas it seems like Jenkins has done a good job with this. I did notice though on the node status page there is a still a reference to "slave" seen as:

 Agent i-******** (Fleet slave for i-*************)

Can we please remove this terminology?

[2022-03-31 15:09] imuqtadir commented on #329
Agreed. We welcome PRs from the community, feel free to submit a PR and we can help get it pushed. Alternatively, we will take it up while we prioritize the issues.

[2022-04-06 16:02] haugenj commented on #327
Is there a reason you are enabling termination protection? The plugin is not set up to handle this case as it assumes all nodes in a given fleet are interchangeable

dev notes:
this is happening because the failure to terminate the instance with instance protection leads to an error thrown here https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/src/main/java/com/amazon/jenkins/ec2fleet/EC2A

[2022-04-07 14:14] runswithd6s commented on #327
Knowing this nature of the plugin, we fired up another small cluster specifically for testing these errant jobs. Not ideal, but do-able.

[2022-04-08 07:44] nediml opened #330 "Scale up does not happen when running multiple jobs of the same jenkins project/pipeline"
## Issue Details

**Describe the bug**
Scale up does not happen when running multiple jobs of the same jenkins project/pipeline.
Scale up does happen when running jobs on different jenkins projects/pipelines.

**To Reproduce**
1. Run the same jenkins project/pipeline with different parameters.

## Environment Details

**Plugin Version?**
2.5.1

**Jenkins Version?**
2.303.3

**Spot Fleet or ASG?**

[2022-04-08 11:17] mwos-sl commented on #322
I've just noticed this - the plugin says there is one node available:
![image](https://user-images.githubusercontent.com/55095506/162418162-3da9fde8-015c-4282-ba92-3dd1cde6a0f1.png)

But at the same time there are no nodes:
![image](https://user-images.githubusercontent.com/55095506/162418565-ca8a0803-37c9-46c4-b6a8-411b057eb6f2.png)

And when I run a build, I can see in console output:
<img width

[2022-04-08 11:24] mwos-sl commented on #322
Logs from the plugin during this time:
[code]

I checked if `i-07f085f6b7b04909a` and indeed it exists, is running, and everything seems fine to it. I also checked that this instance was connected to jenkins at some point, and it did some work.

So it's like the plugin kinda sees the instance, but the other part of jenkins not, because it is not connected as a agent. Or something like this.

[2022-04-08 11:26] mwos-sl commented on #322
FWIW: ASG in AWS console also sees this instance, and `Desired` count is set to 1 for this ASG in AWS.

[2022-04-08 12:38] mwos-sl commented on #322
EDIT: Not true what I wrote originally above! Sorry for noise you probably got on email 😓

[2022-04-11 09:00] nediml commented on #330
This is a bad thinking on my side.
Did not know that default setting in jenkins is to not run concurrent builds... After enabling concurrent builds, everything works as expected...

[2022-04-11 09:00] #330 closed

[2022-04-11 16:49] mwos-sl opened #331 "Plenty of workers suspended for several days."
## Issue Details
Not sure if related to: https://github.com/jenkinsci/ec2-fleet-plugin/issues/322, thus creating a separate issue.
Recently we noticed a very long jobs queue on jenkins. It turned out all ec2 fleets were maxed, but plenty of instances were in "suspended" and not disconnected from jenkins. EC2 instances themselves were fine on aws side.
Even when I killed suspended instances using s

[2022-04-11 16:57] mwos-sl commented on #331
One of the nodes was online and marked "suspended" for several days, even thoug idle time is configured to 3 minutes, and there is no `minSize` and `minSpareInstances` configured for this particular cluster:
![image](https://user-images.githubusercontent.com/55095506/162791670-53e78441-caf8-4281-bb52-149e8f3b1b6e.png)

[2022-04-12 15:31] valerypiotukh opened #332 "EC2 instance termination using AutoScaling group"
## Issue Details

Hi all, today I set up plugin with ASG (see screenshots below), execute Jenkins job like
[code]
but my EC2 instance that is labled `ec2-fleet` is terminating after ~5-7 mins after job is starting (and no matter idle it or not)

<img width="700" alt="Screenshot 2022-04-12 at 18 11 49" src="https://user-images.githubusercontent.com/92525711/162995217-0ede57bf-042e-4bbd-910a-2004bf1

[2022-04-12 17:18] haugenj commented on #332
From the logs it seems that the instance was terminated outside of the plugin's control. Can you check cloudtrail to see what caused the instance to be terminated?

[2022-04-12 17:27] haugenj commented on #331
config is fine afaik.

Scale-in protection being enabled is correct, the plugin will enable scale in protection if not set because the plugin wants to control which instances are terminated. Without scale in protection an instance that is not idle might be terminated when the target capacity is adjusted.

Can you provide the logs for this event?

[2022-04-12 20:34] valerypiotukh commented on #332
@haugenj seems like the instance was terminated by plugin

    "eventSource": "ec2.amazonaws.com",
    "eventName": "TerminateInstances",
    "awsRegion": "region",
    "sourceIPAddress": "Public_IP",
    "userAgent": "ec2-fleet-plugin, aws-sdk-java/1.12.163 Linux/5.11.0-1022-aws OpenJDK_64-Bit_Server_VM/11.0.14.1+1 java/11.0.14.1 groovy/2.4.21 vendor/Eclipse_Adoptium cfg/retry-mode/legacy",
    "

[2022-04-13 16:03] valerypiotukh commented on #332
From CloudTrail or from Jenkins logs?

[2022-04-13 16:10] haugenj commented on #332
from Jenkins logs

[2022-04-19 13:51] orbis-devops opened #333 "For EC2 spot workers "Disable Build Resubmit" not working as expected"
## Issue Details

**Describe the bug**
Re: the Configure Clouds -> Disable Build Resubmit setting, when we enable this, the completed builds are also getting re-triggered after a spot termination.
The expected behavior is that only if a spot termination happens during a incomplete build that the build should be re-triggered on another spot worker.

**To Reproduce**
1. Run a few successful builds
2

[2022-04-20 09:47] peanderson2016 opened #334 "EC2 Fleet plugin JCasC can cause Jenkins startup to fail"
## Issue Details

**Describe the bug**
When configuring the EC2 Fleet plugin via JCasC, if the credentials do not already exist or they are not valid, the plugin will cause Jenkins startup to fail.

**To Reproduce**
1. Start from a clean Jenkins server
2. Create a JCasC file with credentials and EC2 Fleet plugin configuration
3. Start Jenkins

1. Invalidate your EC2 Fleet credentials
2. restart Je

[2022-05-01 06:59] benipeled opened #335 "Resubmitted build uses the parameters of the last build instead of the failed build"
## Issue Details

In case of spot termination, a new build is submitted with the last build parameters

https://github.com/jenkinsci/ec2-fleet-plugin/blob/93a0317c0618e6f1239e46b1d2f6cfcb7673c1a7/src/main/java/com/amazon/jenkins/ec2fleet/EC2FleetAutoResubmitComputerLauncher.java#L103-L106

But... in the case of multiple builds, the last one is not necessarily the build that should be rebuilt, whic

[2022-05-05 05:26] jhosemar-caylent commented on #334
Having a similar issue with an amazon linux 2. They main difference in my setup is that credentials are not required since i'm using an instance role, however i've noticed that when i'm submitting JCasC for this plugin my jenkins service timesout.

`Job for jenkins.service failed because a timeout was exceeded. See "systemctl status jenkins.service" and "journalctl -xe" for details.`

Current JCas

[2022-05-12 17:32] #327 closed

[2022-05-18 12:18] mwos-sl commented on #331
We disabled the plugin completatly so I don't have logs with me at the moment. I can try to re-enable it in some sprints for a while to grab some. Just to confirm: are you talking about logs
<img width="793" alt="image" src="https://user-images.githubusercontent.com/55095506/169036943-caa24a66-3980-4cfc-9856-fe1bbb366e40.png">
?

[2022-05-18 12:19] mwos-sl commented on #331
BTW can we remove `stale` label?

[2022-05-19 17:20] pbudzon opened #336 "Add support for EC2 Fleets (not only Spot Fleets and ASGs)"
**Is your feature request related to a problem? Please describe.**
AWS is abandoning Spot Fleets and recommending use of EC2 Fleets.

**Describe the solution you'd like**
Add support for EC2 Fleets alongside the current Spot Fleets and Auto Scaling groups.

**Describe alternatives you've considered**
None

**Additional context**
As far as I can tell, EC2 fleets are Spot Fleets with more features.

[2022-05-24 16:11] haugenj commented on #331
yeah logs from the instance and also the system log, preferably with a debug level

<img width="679" alt="image" src="https://user-images.githubusercontent.com/56001173/170082511-8204c9f9-163f-4028-9317-c0111e6905cd.png">

[2022-05-24 17:26] #332 closed, assigned to haugenj

[2022-05-24 17:27] haugenj commented on #333
Can you elaborate on the type of builds you're running? I'm confused because once a build has completed it should no longer be on the node and the executor should become free, so I'm not sure how a completed build can be resubmitted.

If the issue is that builds are resubmitted when "disable build resubmit" is enabled, I've also tested this and it is working fine for me

[2022-06-03 07:55] pauxus commented on #323
reopen

[2022-06-03 07:58] pauxus commented on #323
@imuqtadir Can you please reopen the ticket?

[2022-06-07 08:16] xocasdashdash commented on #322
So i think we've hit the same issue. Somehow Jenkins is under the impression that we have an executor with a label but then it's not showing up on the UI.
The solution for now has been to retry the jobs (manually), which is something that we want to avoid.

From my limited java skills it seems that the issue comes from jenkins as the data that comes in here (https://github.com/jenkinsci/ec2-fleet-

[2022-06-07 11:23] mwos-sl commented on #322
Nope, unfortunately not. The issue described here was causing serious lags on our jenkinses, so we rolled back to ec2 plugin you mentioned. We don't have any issue with ec2 plugin, except it is very poor for spot instances, and we use on-demand only there. This plugin (ec2-fleet-plugin) is waaaay better for handling spots (possibility to declare multiple spot pools).

@xocasdashdash Can you experi

[2022-06-07 11:58] xocasdashdash commented on #322
I'll try to check it out, but it seems to be a deeper issue in how jenkins assigns jobs to labels, not much this plugin can do if that fails 😕

[2022-06-09 17:23] #334 closed

[2022-06-10 08:02] peanderson2016 commented on #334
So its all about the ability to recover. I think if the plugin isn't able to connect to AWS it should not cause the entire Jenkins instance to fail to start. The fact that recovering from this requires you to remove the configuration, correct the credentials, and then re-add seem wrong to me.

[2022-06-17 17:38] sergeymatsak87 opened #337 "EC2 instance termination using AutoScaling group 2"
## Issue Details

We are using EC2-Fleet plugin with AWS EC2 spots + ASG. From time to time we are experiencing an issue related to node termination.

On AWS side spots are terminated with status instance-terminated-by-user

Please see logs from jenkins below
[code]

[code]
Jenkins UI side
[code]

Would appreciate for the quick feedback

## Environment Details

**Plugin Version?**
2.5.1

**Jenkins

[2022-06-17 17:43] aviorma commented on #337
+1

[2022-06-21 13:59] hsmade opened #338 "Not able to create multiple clouds"
## Issue Details

**Describe the bug**
Whenever I define multiple clouds, only the last one is active / creating agents. The other ones seem to not exist.
What I see in the controller log, is this:
[code]
Which obviously breaks this agent, as the two fleets are in different cloud accounts. So it doesn't exist in the `second-fleet` configuration.

**To Reproduce**
1. create and configure a working

[2022-06-21 14:26] hsmade commented on #338
Just found out, that when I change the name of the ASG to be different for both fleets, node do show up for both!
I'm guessing the fleet name is used as some sort of key for the reassign?

[2022-06-23 20:13] glavoie commented on #332
I've hit a potentially similar problem. Which looks like a timing problem.

- 2 instances fleet.
- Plugin sends the ASG size change 2 -> 1
- Plugin sends termination signal for instance 2
- ASG picks the change, selects instance 1 for termination
- Instance 1 is terminated and a build job that was running is killed
- Instance 2 is terminated.
- Fleet now has 0 nodes.
- ASG detect that it needs 1 n

[2022-06-24 17:23] #336 closed

[2022-06-28 17:27] #331 closed

[2022-06-30 17:29] #333 closed

[2022-07-04 05:20] Shubhama-nd opened #339 "Some instnaces were terminated due spot rebalancing"
## Issue Details

All the instances in the asg were terminated due to ASG spot rebalancing and replacements were launched at AWS ASG, however the instances in the Jenkins agents were not terminated and the new replacements were not picked up by Jenkins Ec2-fleet plugin.

Ec2-fleet picks up the replacements after a jenkins restart or after saving (changing timeout from 600 to 650) the Ec2-fleet con

[2022-07-04 09:21] aluczakSumo opened #340 "Possibility to set Node Parameters per eC2Fleet"
**Is your feature request related to a problem? Please describe.**
It's currently not possible to add nodeProperties to an eC2Fleet node, which prevents us from setting specific environment variables per node.  We're using JCasC to setup the nodes and it's a feature that already works for EC2 Plugin and for regular nodes.

**Describe the solution you'd like**
It would be best if it was possible to

[2022-07-12 22:37] dan-drew commented on #338
I can confirm that this worked for us too. After changing the name of one of the ASG the two fleets no longer step on each other.

[2022-07-13 10:50] dgiffordaudio opened #341 "Resubmit tasks on Spot Interruption without aborting the build"
**Is your feature request related to a problem? Please describe.**
**ec2-fleet-plugin 2.5.1**
 Our pipeline has 7 parallel build tasks running on a Spot fleet each running for ~50 minutes followed by test tasks on each of these builds.  When there is a Spot Interruption of any of the nodes during these tasks, this causes the whole build to fail and be resubmitted as per #45 .  As we are running 1

[2022-07-20 22:08] ujain6 commented on #302
Hi, I restarted jenkins but still see the same issue that a new cloud is created.

[2022-07-22 18:47] JoshStutts commented on #337
+1, experiencing essentially this exact same issue.

[2022-08-03 15:35] fluffysquirrels commented on #130
@jillmon My company has a requirement for this feature. We are looking to move to spot instances to reduce costs but if they are unavailable we would need to be able to fall back to on-demand instances to keep our builds running albeit at higher costs. It would be unacceptable to us to fail to run builds because spot instances are not available, as it would effectively stop all our engineers from

[2022-08-04 09:59] aluczakSumo commented on #340
Hi,
is there some update on this issue? It's blocking us from using this plugin with our current setup.

[2022-08-04 18:49] limasilet commented on #337
+1

[2022-08-08 15:43] fluffysquirrels commented on #336
We also would like to see this feature to use the plugin.

[2022-08-08 17:24] #339 closed

[2022-08-10 17:52] h-okon opened #342 "After setting up minimum spare instances - instances are not deprovisioned if demand is lower than requested"
## When minimum spare instances is set - the instances do not deprovision regardless of the demand.

**Describe the bug**
When I use any number in minimum spare instances, the fleets do not change their size to a lower size. They go up to the maximum limit and stay at that limit even though there is no load / demand for the fleet.

**To Reproduce**
1. Create cloud fleet with following parameters:

[2022-08-10 18:39] h-okon commented on #342
Why this is happening?
`Ec2FleetCloud.java:844 - getCurrentSpareInstanceCount`
uses
`enkins.get().getComputers()`
and checks:
`if (computer instanceof EC2FleetNodeComputer && !computer.isIdle())`
to check how many workers are busy.

Just as a recap method **should return a number of currently available spare instances for given fleet**. This method is used to determine whether there should be a de

[2022-08-13 09:36] hsmade commented on #338
This issue is still current.

[2022-08-16 19:59] brycahta commented on #340
Hi @aluczakSumo , thanks for the feature request. I agree this would be useful; however, I can't say when we would be able to work on this. Would you be open to submitting a PR?

[2022-08-17 07:47] aluczakSumo commented on #340
Hi @brycahta, yes, we were even discussing it already - If you won't find the time yourself, perhaps we would be able to contribute next quarter.

[2022-08-17 17:26] #341 closed

[2022-08-18 19:32] #342 closed

[2022-09-01 20:15] kintarowins commented on #340
I need this as well. Give me some pointers on where to make the changes to get started quickly and I'll submit a PR.

[2022-09-05 09:16] JonasHornung commented on #337
+1 I currently have the exact same behaviour, but with Spot-Fleets

[2022-09-07 09:51] michalszelagsonos opened #345 "AMI refresh support"
**Is your feature request related to a problem? Please describe.**
I am uncertain how the plugin will react to this scenario, so posting here to solicit feedback and go from there.  ASGs support an AMI refresh feature and I am curious to learn how the plugin behaves in such a scenario.  For example, when a new AMI version becomes available, the launch template can be updated to reference it, and t

[2022-09-13 05:31] hsmade commented on #338
This issue is still current

[2022-09-19 20:47] wosiu commented on #345
[Disclaimer I'm not a maintainer, but..] AFAIK - no, there is no such mechanism on the plugin side. In fact ASG should not control any operations which might cause removing/restarting an agent, because it might be in the middle of the job.

The way we handle that, is to set both in the plugin's configuration:
1) `Max Idle Minutes Before Scaledown`
2) `Maximum Total Uses`

So it's kinda heuristic,

[2022-09-20 01:02] gnydick commented on #345
I second the request to support the swarm plugin. It just makes things so much easier if the nodes can connect themselves. There are no credentials or remote management to deal with from the Jenkins controller side. I agree, I don't want my AWS ASG handling scaling. I just would like the ec2-fleet plugin to be able to manage the fleet and be able to identify the swarm created nodes.

[2022-09-20 09:44] michalszelagsonos commented on #345
To clarify my request, I do think that having Jenkins be in control of the scaling makes most sense.  It understands the load, it knows whether a node is running a workload, it is in the best position to scale in and out when needed.  Here is what is driving my questions, which is probably not a typical environment.  I have a fleet of MacOS AWS nodes that Jenkins is managing as nodes.  I'd like th

[2022-09-21 11:08] simpod6 commented on #337
+1 same issue. Is there any update on this?

[2022-09-21 11:17] h-okon opened #346 "Applying configuration changes on the fly"
When using the plugin in the production environment, changing the options of the plugin should be supported without the need of restart of the jenkins instance (and reload of the plugin). Currently the plugin does not respect the new configuration and often rescales the fleets to wrong sizes, causing issues with builds.

Ultimately we would like the plugin to apply the configuration _on the fly_.

[2022-10-07 17:40] #340 closed

[2022-10-18 21:05] wosiu commented on #322
I gave one more shot with the recent release of the plugin (2.5.2), and so far it works fine!!! 🤞
It seems @h-okon fixed the issue with: https://github.com/jenkinsci/ec2-fleet-plugin/pull/343 (many thanks!!!)
Let me soak for few weeks more and I close this ticket.

[2022-10-19 17:47] #338 closed

[2022-10-20 06:58] igtsekov commented on #322
I am using 2.5.2 and it still happens. :(

[2022-10-20 12:28] avikivity commented on #322
/cc @benipeled

[2022-10-25 17:57] #345 closed

[2022-10-25 19:16] buliverd53 opened #347 "Plugin auto select the first option from EC2 Fleet list"
## Issue Details

**Describe the bug**
If the spot-fleet or ASG is removed from the AWS Account, the cloud configuration auto select the first option from the **EC2 Fleet**.
From my point of view, the default value for this option should be blank so the team responsible for maintaining those fleet can see that a required option is missing.

**To Reproduce**
1. Remove a spot-fleet/asg configured fo

[2022-10-27 17:27] #346 closed

[2022-10-27 17:27] #337 closed

[2022-10-30 12:24] benipeled commented on #346
@pdk27 please re-open and apply the "stalebot-ignore" label

[2022-11-10 12:07] mwos-sl opened #349 "`alwaysReconnect` what it exactly does"
It misses description:
https://github.com/jenkinsci/ec2-fleet-plugin/blob/master/docs/CONFIGURATION-AS-CODE.md#ec2fleetcloud

We set it to true, because we assume it means to reconnect to running instances after jenkins restart.
But we notice some problems with deleting IDLE workers from time to time:
[code]

and we're wondering if it might have something to do with `alwaysReconnect` property. Sho

[2022-11-10 12:13] mwos-sl commented on #349
We found this:
https://github.com/jenkinsci/ec2-fleet-plugin/blob/98962e16de2694c87098de2df5b9a38897f94824/src/main/resources/com/amazon/jenkins/ec2fleet/EC2FleetLabelCloud/config.jelly#L48

But it's still not clear under what circumstances it reconnects. Is it helpful after jenkins restarts? Or when the machine is rebooted on the aws side?

[2022-11-10 16:05] mwos-sl commented on #349
I described the issue more in the existing issue: https://github.com/jenkinsci/ec2-fleet-plugin/issues/322#issuecomment-1310524021.
Still I think it's worth to describe better this `alwaysReconnect` property

[2022-11-15 11:40] mwos-sl commented on #322
After some investigation, it seems that `plannedCapacitySnapshot` become drifted after configuration reloading (without jenkins restart, which is no go for us):
[code]

There was 1 job in queue at the time, that's why
current demand = queue_size - availableCapacity = 1 - 3 = -3

It was mentioned several times in already issues which are closed. But this bug is still there.

[2022-11-16 11:07] sebek64 commented on #335
I've seen the same issue. Basically, without this being fixed, spot workers with auto-retry are usable only for non-parameterized builds. For anything more sophisticated like pull-requests checks, you cannot rely on it. Any chance this will be fixed? Or should I just provide a patch?

[2022-11-16 14:38] sebek64 commented on #335
As already written in the original report, the problem is on this line:
https://github.com/jenkinsci/ec2-fleet-plugin/blob/8bfcdf4c68a828621dd3523be293c82a978c42ba/src/main/java/com/amazon/jenkins/ec2fleet/EC2FleetAutoResubmitComputerLauncher.java#L104
One can call `getLastFailedBuild` instead of `getLastBuild`, that would work better in some cases, but it is not perfect either. To me, it seems th

[2022-11-18 23:23] noah-ws opened #352 "Compatibility with warm pool instance reuse policy"
We are using a warm pool with the instance reuse policy enabled ([see here](https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-warm-pools.html#warm-pool-core-concepts)). The expected behavior is for instances to return to the warm pool when scale-in occurs.  What actually is happening is our instances get terminated by the ec2 fleet plugin when the idle time is reached.

**Desc